# 7월 7일

In [17]:
# https://www.lipsum.com/

In [6]:
lorem = '''Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean lobortis justo eget lacus posuere, nec tristique velit iaculis. Quisque in auctor elit. Nulla et aliquet turpis. Maecenas imperdiet laoreet massa, eu sodales sem ornare malesuada. Cras sodales ipsum et tellus lacinia, ut mattis elit vehicula. Nunc quam quam, cursus quis leo quis, sagittis pellentesque eros. Donec nec nulla in sem bibendum tristique vel tempus metus.
Etiam scelerisque nulla vel egestas feugiat. Aenean sed consectetur urna. Sed nisl mi, imperdiet a tincidunt eget, varius nec dui. In porta risus id bibendum viverra. Pellentesque tristique quam dolor, sed tempor orci hendrerit ut. Suspendisse id lectus vel massa varius fringilla non ac orci. Etiam nec odio hendrerit, dignissim justo sed, convallis nibh. Pellentesque bibendum euismod erat, ac congue purus tincidunt eu.
Praesent diam enim, sollicitudin quis mi id, tristique laoreet nisi. Donec faucibus tellus at libero malesuada sagittis. Quisque condimentum porta luctus. Quisque sagittis ut purus ac auctor. Nulla eget porttitor turpis, eget finibus tortor. Sed vitae convallis justo. Aenean magna felis, luctus sit amet mauris nec, lobortis aliquam risus. Duis in nisi ac sem gravida venenatis. Nullam non eros nec mauris rhoncus dapibus. Sed rhoncus ornare ligula nec placerat. Sed augue enim, semper quis sapien at, lacinia mollis nisi. Nullam pulvinar, nunc vitae suscipit euismod, lectus libero mollis massa, ut tempor enim felis non lectus.
Integer sit amet ex quis felis pellentesque facilisis. Aliquam lacus metus, bibendum pellentesque magna quis, pellentesque vestibulum eros. Vestibulum faucibus est massa. Nunc ante massa, congue nec tortor ut, bibendum facilisis tellus. Praesent non ex et mi fermentum sollicitudin. In sollicitudin est volutpat, dictum ipsum aliquet, commodo magna. Donec et hendrerit libero, sit amet dictum leo. Nam id posuere turpis, in vulputate erat. In nec metus ut justo congue dignissim. Maecenas lobortis volutpat venenatis. Integer rhoncus dolor ut sem tempor, id sollicitudin eros viverra. Proin tincidunt finibus tincidunt.
Vestibulum vitae lacus dapibus, placerat urna non, rhoncus dolor. Maecenas pellentesque malesuada ligula nec cursus. Sed augue erat, hendrerit sed tincidunt a, facilisis id enim. Pellentesque in massa pretium, aliquam urna commodo, maximus urna. Etiam finibus nulla ac tortor scelerisque, vitae ornare neque molestie. Quisque posuere nibh vitae ante varius congue. Nullam ut ipsum auctor, dapibus justo ut, volutpat magna. Nam tristique molestie arcu in ornare. Aenean cursus pellentesque faucibus. Ut dapibus fringilla aliquam.'''

In [7]:
lorem

'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean lobortis justo eget lacus posuere, nec tristique velit iaculis. Quisque in auctor elit. Nulla et aliquet turpis. Maecenas imperdiet laoreet massa, eu sodales sem ornare malesuada. Cras sodales ipsum et tellus lacinia, ut mattis elit vehicula. Nunc quam quam, cursus quis leo quis, sagittis pellentesque eros. Donec nec nulla in sem bibendum tristique vel tempus metus.\nEtiam scelerisque nulla vel egestas feugiat. Aenean sed consectetur urna. Sed nisl mi, imperdiet a tincidunt eget, varius nec dui. In porta risus id bibendum viverra. Pellentesque tristique quam dolor, sed tempor orci hendrerit ut. Suspendisse id lectus vel massa varius fringilla non ac orci. Etiam nec odio hendrerit, dignissim justo sed, convallis nibh. Pellentesque bibendum euismod erat, ac congue purus tincidunt eu.\nPraesent diam enim, sollicitudin quis mi id, tristique laoreet nisi. Donec faucibus tellus at libero malesuada sagittis. Quisque condimentum porta luctus. Quisque sagittis ut purus ac auctor. Nulla eget porttitor turpis, eget finibus tortor. Sed vitae convallis justo. Aenean magna felis, luctus sit amet mauris nec, lobortis aliquam risus. Duis in nisi ac sem gravida venenatis. Nullam non eros nec mauris rhoncus dapibus. Sed rhoncus ornare ligula nec placerat. Sed augue enim, semper quis sapien at, lacinia mollis nisi. Nullam pulvinar, nunc vitae suscipit euismod, lectus libero mollis massa, ut tempor enim felis non lectus.\nInteger sit amet ex quis felis pellentesque facilisis. Aliquam lacus metus, bibendum pellentesque magna quis, pellentesque vestibulum eros. Vestibulum faucibus est massa. Nunc ante massa, congue nec tortor ut, bibendum facilisis tellus. Praesent non ex et mi fermentum sollicitudin. In sollicitudin est volutpat, dictum ipsum aliquet, commodo magna. Donec et hendrerit libero, sit amet dictum leo. Nam id posuere turpis, in vulputate erat. In nec metus ut justo congue dignissim. Maecenas lobortis volutpat venenatis. Integer rhoncus dolor ut sem tempor, id sollicitudin eros viverra. Proin tincidunt finibus tincidunt.\nVestibulum vitae lacus dapibus, placerat urna non, rhoncus dolor. Maecenas pellentesque malesuada ligula nec cursus. Sed augue erat, hendrerit sed tincidunt a, facilisis id enim. Pellentesque in massa pretium, aliquam urna commodo, maximus urna. Etiam finibus nulla ac tortor scelerisque, vitae ornare neque molestie. Quisque posuere nibh vitae ante varius congue. Nullam ut ipsum auctor, dapibus justo ut, volutpat magna. Nam tristique molestie arcu in ornare. Aenean cursus pellentesque faucibus. Ut dapibus fringilla aliquam.'

In [8]:
lorem[3]

'e'

In [9]:
lorem[10:20]

'm dolor si'

In [10]:
lorem[10:100:2]

'mdlrstae,cnettraiicn lt eenlbri ut gtlcspsee '

+ lorem 문자열에서, 뒤에서 세번째부터 앞에서 10번째까지 글자가 뭐가 있는지 출력해 보세요

In [11]:
lorem[-3:10:-1]

'auqila allignirf subipad tU .subicuaf euqsetnellep susruc naeneA .eranro ni ucra eitselom euqitsirt maN .angam taptulov ,tu otsuj subipad ,rotcua muspi tu malluN .eugnoc suirav etna eativ hbin ereusop euqsiuQ .eitselom euqen eranro eativ ,euqsirelecs rotrot ca allun subinif maitE .anru sumixam ,odommoc anru mauqila ,muiterp assam ni euqsetnelleP .mine di sisilicaf ,a tnudicnit des tirerdneh ,tare eugua deS .susruc cen alugil adauselam euqsetnellep saneceaM .rolod sucnohr ,non anru tarecalp ,subipad sucal eativ mulubitseV\n.tnudicnit subinif tnudicnit niorP .arreviv sore niduticillos di ,ropmet mes tu rolod sucnohr regetnI .sitanenev taptulov sitrobol saneceaM .missingid eugnoc otsuj tu sutem cen nI .tare etatupluv ni ,siprut ereusop di maN .oel mutcid tema tis ,orebil tirerdneh te cenoD .angam odommoc ,teuqila muspi mutcid ,taptulov tse niduticillos nI .niduticillos mutnemref im te xe non tnesearP .sullet sisilicaf mudnebib ,tu rotrot cen eugnoc ,assam etna cnuN .assam tse subicuaf mulubitseV .sore mulubitsev euqsetnellep ,siuq angam euqsetnellep mudnebib ,sutem sucal mauqilA .sisilicaf euqsetnellep silef siuq xe tema tis regetnI\n.sutcel non silef mine ropmet tu ,assam sillom orebil sutcel ,domsiue tipicsus eativ cnun ,ranivlup malluN .isin sillom ainical ,ta neipas siuq repmes ,mine eugua deS .tarecalp cen alugil eranro sucnohr deS .subipad sucnohr siruam cen sore non malluN .sitanenev adivarg mes ca isin ni siuD .susir mauqila sitrobol ,cen siruam tema tis sutcul ,silef angam naeneA .otsuj sillavnoc eativ deS .rotrot subinif tege ,siprut rotittrop tege alluN .rotcua ca surup tu sittigas euqsiuQ .sutcul atrop mutnemidnoc euqsiuQ .sittigas adauselam orebil ta sullet subicuaf cenoD .isin teeroal euqitsirt ,di im siuq niduticillos ,mine maid tnesearP\n.ue tnudicnit surup eugnoc ca ,tare domsiue mudnebib euqsetnelleP .hbin sillavnoc ,des otsuj missingid ,tirerdneh oido cen maitE .icro ca non allignirf suirav assam lev sutcel di essidnepsuS .tu tirerdneh icro ropmet des ,rolod mauq euqitsirt euqsetnelleP .arreviv mudnebib di susir atrop nI .iud cen suirav ,tege tnudicnit a teidrepmi ,im lsin deS .anru rutetcesnoc des naeneA .taiguef satsege lev allun euqsirelecs maitE\n.sutem supmet lev euqitsirt mudnebib mes ni allun cen cenoD .sore euqsetnellep sittigas ,siuq oel siuq susruc ,mauq mauq cnuN .alucihev tile sittam tu ,ainical sullet te muspi selados sarC .adauselam eranro mes selados ue ,assam teeroal teidrepmi saneceaM .siprut teuqila te alluN .tile rotcua ni euqsiuQ .silucai tilev euqitsirt cen ,ereusop sucal tege otsuj sitrobol naeneA .tile gnicsipida rutetcesnoc ,tema tis rolod '

In [13]:
# 문자열 포맷팅

v1 = lorem[3]

v2 = lorem[-3]

v3 = lorem[1:5]

msg = f'''앞에서 3번째를 알아보려면 {v1}이 나오고, 
뒤에서 3번째를 알아보면 {v2}이 나오고,
1~5번째 범위를 알아보면 {v3}이 나옵니다.'''

print(msg)

앞에서 3번째를 알아보려면 e이 나오고,
뒤에서 3번째를 알아보면 a이 나오고,
1~5번째 범위를 알아보면 orem이 나옵니다.

In [14]:
print(v1)

e

In [15]:
print('앞에서 3번째를 알아보면')
print(v1)
print('이 나옵니다.')

앞에서 3번째를 알아보면
e
이 나옵니다.

In [16]:
# 한줄로 출력하기 

print('앞에서 3번째를 알아보면', v1, '이 나옵니다.')

앞에서 3번째를 알아보면 e 이 나옵니다.

In [20]:
# 문자열 포맷팅 1방식

msg = f'''앞에서 3번째를 알아보려면 {lorem[3]}이 나오고, 
뒤에서 3번째를 알아보면 {[1, 2, 3]}이 나오고,
1~5번째 범위를 알아보면 {"e"}이 나옵니다.'''

# 형식에 제약이 없다. 

print(msg)

앞에서 3번째를 알아보려면 e이 나오고,
뒤에서 3번째를 알아보면 [1, 2, 3]이 나오고,
1~5번째 범위를 알아보면 e이 나옵니다.

In [22]:
# 문자열 포맷팅 2방식

'''앞에서 3번째를 알아보려면 %s이 나오고, 
뒤에서 3번째를 알아보면 %s이 나오고,
1~5번째 범위를 알아보면 %s이 나옵니다.''' %(v1, v2, v3)

# 무조건 순서대로 써야한다는 (형식까지 맞춰야함) 단점이 존재하여, 이 방식은 요즘은 잘 사용하지 않음. 
# 읽을줄은 알아야함

'앞에서 3번째를 알아보려면 e이 나오고, \n뒤에서 3번째를 알아보면 a이 나오고,\n1~5번째 범위를 알아보면 orem이 나옵니다.'

In [23]:
# 문자열 포맷팅 3방식

'''앞에서 3번째를 알아보려면 {}이 나오고, 
뒤에서 3번째를 알아보면 {}이 나오고,
1~5번째 범위를 알아보면 {}이 나옵니다.'''.format(v1, v2, v3)

# 이것도 순서대로 써야하는 단점이 존재. 그래도 2방식보단 괜찮음
# 앞으로 포맷팅할때는 1방식만 사용하도록

'앞에서 3번째를 알아보려면 e이 나오고, \n뒤에서 3번째를 알아보면 a이 나오고,\n1~5번째 범위를 알아보면 orem이 나옵니다.'

* lorem에서 소문자 r을 모두 대문자 R로 바꿔봅시다.

In [ ]:
# 이렇게 하면서 re 패키지를 잊진 말자

In [24]:
lorem

'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean lobortis justo eget lacus posuere, nec tristique velit iaculis. Quisque in auctor elit. Nulla et aliquet turpis. Maecenas imperdiet laoreet massa, eu sodales sem ornare malesuada. Cras sodales ipsum et tellus lacinia, ut mattis elit vehicula. Nunc quam quam, cursus quis leo quis, sagittis pellentesque eros. Donec nec nulla in sem bibendum tristique vel tempus metus.\nEtiam scelerisque nulla vel egestas feugiat. Aenean sed consectetur urna. Sed nisl mi, imperdiet a tincidunt eget, varius nec dui. In porta risus id bibendum viverra. Pellentesque tristique quam dolor, sed tempor orci hendrerit ut. Suspendisse id lectus vel massa varius fringilla non ac orci. Etiam nec odio hendrerit, dignissim justo sed, convallis nibh. Pellentesque bibendum euismod erat, ac congue purus tincidunt eu.\nPraesent diam enim, sollicitudin quis mi id, tristique laoreet nisi. Donec faucibus tellus at libero malesuada sagittis. Quisque condimentum porta luctus. Quisque sagittis ut purus ac auctor. Nulla eget porttitor turpis, eget finibus tortor. Sed vitae convallis justo. Aenean magna felis, luctus sit amet mauris nec, lobortis aliquam risus. Duis in nisi ac sem gravida venenatis. Nullam non eros nec mauris rhoncus dapibus. Sed rhoncus ornare ligula nec placerat. Sed augue enim, semper quis sapien at, lacinia mollis nisi. Nullam pulvinar, nunc vitae suscipit euismod, lectus libero mollis massa, ut tempor enim felis non lectus.\nInteger sit amet ex quis felis pellentesque facilisis. Aliquam lacus metus, bibendum pellentesque magna quis, pellentesque vestibulum eros. Vestibulum faucibus est massa. Nunc ante massa, congue nec tortor ut, bibendum facilisis tellus. Praesent non ex et mi fermentum sollicitudin. In sollicitudin est volutpat, dictum ipsum aliquet, commodo magna. Donec et hendrerit libero, sit amet dictum leo. Nam id posuere turpis, in vulputate erat. In nec metus ut justo congue dignissim. Maecenas lobortis volutpat venenatis. Integer rhoncus dolor ut sem tempor, id sollicitudin eros viverra. Proin tincidunt finibus tincidunt.\nVestibulum vitae lacus dapibus, placerat urna non, rhoncus dolor. Maecenas pellentesque malesuada ligula nec cursus. Sed augue erat, hendrerit sed tincidunt a, facilisis id enim. Pellentesque in massa pretium, aliquam urna commodo, maximus urna. Etiam finibus nulla ac tortor scelerisque, vitae ornare neque molestie. Quisque posuere nibh vitae ante varius congue. Nullam ut ipsum auctor, dapibus justo ut, volutpat magna. Nam tristique molestie arcu in ornare. Aenean cursus pellentesque faucibus. Ut dapibus fringilla aliquam.'

In [29]:
# 특정문자만 대문자로 바꾸기 (몰랐던 내용)

lorem.replace('r', 'R')

'LoRem ipsum doloR sit amet, consectetuR adipiscing elit. Aenean loboRtis justo eget lacus posueRe, nec tRistique velit iaculis. Quisque in auctoR elit. Nulla et aliquet tuRpis. Maecenas impeRdiet laoReet massa, eu sodales sem oRnaRe malesuada. CRas sodales ipsum et tellus lacinia, ut mattis elit vehicula. Nunc quam quam, cuRsus quis leo quis, sagittis pellentesque eRos. Donec nec nulla in sem bibendum tRistique vel tempus metus.\nEtiam sceleRisque nulla vel egestas feugiat. Aenean sed consectetuR uRna. Sed nisl mi, impeRdiet a tincidunt eget, vaRius nec dui. In poRta Risus id bibendum viveRRa. Pellentesque tRistique quam doloR, sed tempoR oRci hendReRit ut. Suspendisse id lectus vel massa vaRius fRingilla non ac oRci. Etiam nec odio hendReRit, dignissim justo sed, convallis nibh. Pellentesque bibendum euismod eRat, ac congue puRus tincidunt eu.\nPRaesent diam enim, sollicitudin quis mi id, tRistique laoReet nisi. Donec faucibus tellus at libeRo malesuada sagittis. Quisque condimentum poRta luctus. Quisque sagittis ut puRus ac auctoR. Nulla eget poRttitoR tuRpis, eget finibus toRtoR. Sed vitae convallis justo. Aenean magna felis, luctus sit amet mauRis nec, loboRtis aliquam Risus. Duis in nisi ac sem gRavida venenatis. Nullam non eRos nec mauRis Rhoncus dapibus. Sed Rhoncus oRnaRe ligula nec placeRat. Sed augue enim, sempeR quis sapien at, lacinia mollis nisi. Nullam pulvinaR, nunc vitae suscipit euismod, lectus libeRo mollis massa, ut tempoR enim felis non lectus.\nIntegeR sit amet ex quis felis pellentesque facilisis. Aliquam lacus metus, bibendum pellentesque magna quis, pellentesque vestibulum eRos. Vestibulum faucibus est massa. Nunc ante massa, congue nec toRtoR ut, bibendum facilisis tellus. PRaesent non ex et mi feRmentum sollicitudin. In sollicitudin est volutpat, dictum ipsum aliquet, commodo magna. Donec et hendReRit libeRo, sit amet dictum leo. Nam id posueRe tuRpis, in vulputate eRat. In nec metus ut justo congue dignissim. Maecenas loboRtis volutpat venenatis. IntegeR Rhoncus doloR ut sem tempoR, id sollicitudin eRos viveRRa. PRoin tincidunt finibus tincidunt.\nVestibulum vitae lacus dapibus, placeRat uRna non, Rhoncus doloR. Maecenas pellentesque malesuada ligula nec cuRsus. Sed augue eRat, hendReRit sed tincidunt a, facilisis id enim. Pellentesque in massa pRetium, aliquam uRna commodo, maximus uRna. Etiam finibus nulla ac toRtoR sceleRisque, vitae oRnaRe neque molestie. Quisque posueRe nibh vitae ante vaRius congue. Nullam ut ipsum auctoR, dapibus justo ut, volutpat magna. Nam tRistique molestie aRcu in oRnaRe. Aenean cuRsus pellentesque faucibus. Ut dapibus fRingilla aliquam.'

In [30]:
lorem.upper()

# 소문자 r을 R로 바꾸라고 했는데, 다른건 어떻게 하라는 말이 없었으니 그냥 다 대문자로 바꿔버리기를 할 수도 있다.

# 통계 분석할때, 대소문자가 섞여있으면 불편하기 때문에 뭐든 글자를 대문자로 바꾸거나 소문자로 바꾸거나 한다.

'LOREM IPSUM DOLOR SIT AMET, CONSECTETUR ADIPISCING ELIT. AENEAN LOBORTIS JUSTO EGET LACUS POSUERE, NEC TRISTIQUE VELIT IACULIS. QUISQUE IN AUCTOR ELIT. NULLA ET ALIQUET TURPIS. MAECENAS IMPERDIET LAOREET MASSA, EU SODALES SEM ORNARE MALESUADA. CRAS SODALES IPSUM ET TELLUS LACINIA, UT MATTIS ELIT VEHICULA. NUNC QUAM QUAM, CURSUS QUIS LEO QUIS, SAGITTIS PELLENTESQUE EROS. DONEC NEC NULLA IN SEM BIBENDUM TRISTIQUE VEL TEMPUS METUS.\nETIAM SCELERISQUE NULLA VEL EGESTAS FEUGIAT. AENEAN SED CONSECTETUR URNA. SED NISL MI, IMPERDIET A TINCIDUNT EGET, VARIUS NEC DUI. IN PORTA RISUS ID BIBENDUM VIVERRA. PELLENTESQUE TRISTIQUE QUAM DOLOR, SED TEMPOR ORCI HENDRERIT UT. SUSPENDISSE ID LECTUS VEL MASSA VARIUS FRINGILLA NON AC ORCI. ETIAM NEC ODIO HENDRERIT, DIGNISSIM JUSTO SED, CONVALLIS NIBH. PELLENTESQUE BIBENDUM EUISMOD ERAT, AC CONGUE PURUS TINCIDUNT EU.\nPRAESENT DIAM ENIM, SOLLICITUDIN QUIS MI ID, TRISTIQUE LAOREET NISI. DONEC FAUCIBUS TELLUS AT LIBERO MALESUADA SAGITTIS. QUISQUE CONDIMENTUM PORTA LUCTUS. QUISQUE SAGITTIS UT PURUS AC AUCTOR. NULLA EGET PORTTITOR TURPIS, EGET FINIBUS TORTOR. SED VITAE CONVALLIS JUSTO. AENEAN MAGNA FELIS, LUCTUS SIT AMET MAURIS NEC, LOBORTIS ALIQUAM RISUS. DUIS IN NISI AC SEM GRAVIDA VENENATIS. NULLAM NON EROS NEC MAURIS RHONCUS DAPIBUS. SED RHONCUS ORNARE LIGULA NEC PLACERAT. SED AUGUE ENIM, SEMPER QUIS SAPIEN AT, LACINIA MOLLIS NISI. NULLAM PULVINAR, NUNC VITAE SUSCIPIT EUISMOD, LECTUS LIBERO MOLLIS MASSA, UT TEMPOR ENIM FELIS NON LECTUS.\nINTEGER SIT AMET EX QUIS FELIS PELLENTESQUE FACILISIS. ALIQUAM LACUS METUS, BIBENDUM PELLENTESQUE MAGNA QUIS, PELLENTESQUE VESTIBULUM EROS. VESTIBULUM FAUCIBUS EST MASSA. NUNC ANTE MASSA, CONGUE NEC TORTOR UT, BIBENDUM FACILISIS TELLUS. PRAESENT NON EX ET MI FERMENTUM SOLLICITUDIN. IN SOLLICITUDIN EST VOLUTPAT, DICTUM IPSUM ALIQUET, COMMODO MAGNA. DONEC ET HENDRERIT LIBERO, SIT AMET DICTUM LEO. NAM ID POSUERE TURPIS, IN VULPUTATE ERAT. IN NEC METUS UT JUSTO CONGUE DIGNISSIM. MAECENAS LOBORTIS VOLUTPAT VENENATIS. INTEGER RHONCUS DOLOR UT SEM TEMPOR, ID SOLLICITUDIN EROS VIVERRA. PROIN TINCIDUNT FINIBUS TINCIDUNT.\nVESTIBULUM VITAE LACUS DAPIBUS, PLACERAT URNA NON, RHONCUS DOLOR. MAECENAS PELLENTESQUE MALESUADA LIGULA NEC CURSUS. SED AUGUE ERAT, HENDRERIT SED TINCIDUNT A, FACILISIS ID ENIM. PELLENTESQUE IN MASSA PRETIUM, ALIQUAM URNA COMMODO, MAXIMUS URNA. ETIAM FINIBUS NULLA AC TORTOR SCELERISQUE, VITAE ORNARE NEQUE MOLESTIE. QUISQUE POSUERE NIBH VITAE ANTE VARIUS CONGUE. NULLAM UT IPSUM AUCTOR, DAPIBUS JUSTO UT, VOLUTPAT MAGNA. NAM TRISTIQUE MOLESTIE ARCU IN ORNARE. AENEAN CURSUS PELLENTESQUE FAUCIBUS. UT DAPIBUS FRINGILLA ALIQUAM.'

In [31]:
# replace 활용

# 글자를 글자로 바꾸는것만 생각하다보면 다른 방식으로도 쓸 수 있다는 생각을 못한다. 
# replace를 바꿀때만 쓰지말것. 다른 방식으로도 생각해볼것

lorem.replace(' ', '') # 띄어쓰기를 전부 없애기

'Loremipsumdolorsitamet,consecteturadipiscingelit.Aeneanlobortisjustoegetlacusposuere,nectristiquevelitiaculis.Quisqueinauctorelit.Nullaetaliquetturpis.Maecenasimperdietlaoreetmassa,eusodalessemornaremalesuada.Crassodalesipsumettelluslacinia,utmattiselitvehicula.Nuncquamquam,cursusquisleoquis,sagittispellentesqueeros.Donecnecnullainsembibendumtristiqueveltempusmetus.\nEtiamscelerisquenullavelegestasfeugiat.Aeneansedconsectetururna.Sednislmi,imperdietatincidunteget,variusnecdui.Inportarisusidbibendumviverra.Pellentesquetristiquequamdolor,sedtempororcihendreritut.Suspendisseidlectusvelmassavariusfringillanonacorci.Etiamnecodiohendrerit,dignissimjustosed,convallisnibh.Pellentesquebibendumeuismoderat,acconguepurustincidunteu.\nPraesentdiamenim,sollicitudinquismiid,tristiquelaoreetnisi.Donecfaucibustellusatliberomalesuadasagittis.Quisquecondimentumportaluctus.Quisquesagittisutpurusacauctor.Nullaegetporttitorturpis,egetfinibustortor.Sedvitaeconvallisjusto.Aeneanmagnafelis,luctussitametmaurisnec,lobortisaliquamrisus.Duisinnisiacsemgravidavenenatis.Nullamnonerosnecmaurisrhoncusdapibus.Sedrhoncusornareligulanecplacerat.Sedaugueenim,semperquissapienat,laciniamollisnisi.Nullampulvinar,nuncvitaesuscipiteuismod,lectusliberomollismassa,uttemporenimfelisnonlectus.\nIntegersitametexquisfelispellentesquefacilisis.Aliquamlacusmetus,bibendumpellentesquemagnaquis,pellentesquevestibulumeros.Vestibulumfaucibusestmassa.Nuncantemassa,conguenectortorut,bibendumfacilisistellus.Praesentnonexetmifermentumsollicitudin.Insollicitudinestvolutpat,dictumipsumaliquet,commodomagna.Donecethendreritlibero,sitametdictumleo.Namidposuereturpis,invulputateerat.Innecmetusutjustoconguedignissim.Maecenaslobortisvolutpatvenenatis.Integerrhoncusdolorutsemtempor,idsollicitudinerosviverra.Prointinciduntfinibustincidunt.\nVestibulumvitaelacusdapibus,placeraturnanon,rhoncusdolor.Maecenaspellentesquemalesuadaligulaneccursus.Sedaugueerat,hendreritsedtincidunta,facilisisidenim.Pellentesqueinmassapretium,aliquamurnacommodo,maximusurna.Etiamfinibusnullaactortorscelerisque,vitaeornarenequemolestie.Quisqueposuerenibhvitaeantevariuscongue.Nullamutipsumauctor,dapibusjustout,volutpatmagna.Namtristiquemolestiearcuinornare.Aeneancursuspellentesquefaucibus.Utdapibusfringillaaliquam.'

In [32]:
lorem.split('.')

# split 의 반대는 join

['Lorem ipsum dolor sit amet, consectetur adipiscing elit',
 ' Aenean lobortis justo eget lacus posuere, nec tristique velit iaculis',
 ' Quisque in auctor elit',
 ' Nulla et aliquet turpis',
 ' Maecenas imperdiet laoreet massa, eu sodales sem ornare malesuada',
 ' Cras sodales ipsum et tellus lacinia, ut mattis elit vehicula',
 ' Nunc quam quam, cursus quis leo quis, sagittis pellentesque eros',
 ' Donec nec nulla in sem bibendum tristique vel tempus metus',
 '\nEtiam scelerisque nulla vel egestas feugiat',
 ' Aenean sed consectetur urna',
 ' Sed nisl mi, imperdiet a tincidunt eget, varius nec dui',
 ' In porta risus id bibendum viverra',
 ' Pellentesque tristique quam dolor, sed tempor orci hendrerit ut',
 ' Suspendisse id lectus vel massa varius fringilla non ac orci',
 ' Etiam nec odio hendrerit, dignissim justo sed, convallis nibh',
 ' Pellentesque bibendum euismod erat, ac congue purus tincidunt eu',
 '\nPraesent diam enim, sollicitudin quis mi id, tristique laoreet nisi',
 ' Donec faucibus tellus at libero malesuada sagittis',
 ' Quisque condimentum porta luctus',
 ' Quisque sagittis ut purus ac auctor',
 ' Nulla eget porttitor turpis, eget finibus tortor',
 ' Sed vitae convallis justo',
 ' Aenean magna felis, luctus sit amet mauris nec, lobortis aliquam risus',
 ' Duis in nisi ac sem gravida venenatis',
 ' Nullam non eros nec mauris rhoncus dapibus',
 ' Sed rhoncus ornare ligula nec placerat',
 ' Sed augue enim, semper quis sapien at, lacinia mollis nisi',
 ' Nullam pulvinar, nunc vitae suscipit euismod, lectus libero mollis massa, ut tempor enim felis non lectus',
 '\nInteger sit amet ex quis felis pellentesque facilisis',
 ' Aliquam lacus metus, bibendum pellentesque magna quis, pellentesque vestibulum eros',
 ' Vestibulum faucibus est massa',
 ' Nunc ante massa, congue nec tortor ut, bibendum facilisis tellus',
 ' Praesent non ex et mi fermentum sollicitudin',
 ' In sollicitudin est volutpat, dictum ipsum aliquet, commodo magna',
 ' Donec et hendrerit libero, sit amet dictum leo',
 ' Nam id posuere turpis, in vulputate erat',
 ' In nec metus ut justo congue dignissim',
 ' Maecenas lobortis volutpat venenatis',
 ' Integer rhoncus dolor ut sem tempor, id sollicitudin eros viverra',
 ' Proin tincidunt finibus tincidunt',
 '\nVestibulum vitae lacus dapibus, placerat urna non, rhoncus dolor',
 ' Maecenas pellentesque malesuada ligula nec cursus',
 ' Sed augue erat, hendrerit sed tincidunt a, facilisis id enim',
 ' Pellentesque in massa pretium, aliquam urna commodo, maximus urna',
 ' Etiam finibus nulla ac tortor scelerisque, vitae ornare neque molestie',
 ' Quisque posuere nibh vitae ante varius congue',
 ' Nullam ut ipsum auctor, dapibus justo ut, volutpat magna',
 ' Nam tristique molestie arcu in ornare',
 ' Aenean cursus pellentesque faucibus',
 ' Ut dapibus fringilla aliquam',
 '']

In [36]:
'-'.join(['Lorem ipsum dolor sit amet, consectetur adipiscing elit',
 ' Aenean lobortis justo eget lacus posuere, nec tristique velit iaculis'])

'Lorem ipsum dolor sit amet, consectetur adipiscing elit- Aenean lobortis justo eget lacus posuere, nec tristique velit iaculis'

In [37]:
lorem2 = 'Lorem ipsum dolor sit amet, consectetur adipiscing elit- Aenean lobortis justo eget lacus posuere, nec tristique velit iaculis'

In [38]:
lorem2

'Lorem ipsum dolor sit amet, consectetur adipiscing elit- Aenean lobortis justo eget lacus posuere, nec tristique velit iaculis'

In [39]:
lorem2.strip('Lorem')

# 'Lorem' 찾아서 삭제됨.

' ipsum dolor sit amet, consectetur adipiscing elit- Aenean lobortis justo eget lacus posuere, nec tristique velit iaculis'

In [40]:
lorem2.strip('iaculis')

'Lorem ipsum dolor sit amet, consectetur adipiscing elit- Aenean lobortis justo eget lacus posuere, nec tristique velit '

In [41]:
lorem2.strip('Lrsvti')

'orem ipsum dolor sit amet, consectetur adipiscing elit- Aenean lobortis justo eget lacus posuere, nec tristique velit iacul'

In [42]:
lorem2.lstrip('Lrsvti')

'orem ipsum dolor sit amet, consectetur adipiscing elit- Aenean lobortis justo eget lacus posuere, nec tristique velit iaculis'

In [43]:
lorem2.rstrip('Lrsvti')

'Lorem ipsum dolor sit amet, consectetur adipiscing elit- Aenean lobortis justo eget lacus posuere, nec tristique velit iacul'

##### strip 
+ 받은 문자를 대상으로 판단한다. 
+ 맨 앞이랑 맨 뒤를 찾는다.
+ 입력받은 문자 중 부분 일치하는 것을 찾고 체크한다. (지운다)
+ 안겹칠때까지 반복 

##### lstrip & rstrip 
+ lstrip : 왼쪽만 본다
+ rstrip : 오른쪽만 본다
+ strip에 익숙해지면 문자열 처리가 쉬워진다.

In [50]:
dict1 = {'key':'value'}

In [46]:
dict1[0]

KeyError: 0

In [47]:
dict1['key']

'value'

In [58]:
# pandas가 없던 시절에는 딕셔너리로 표를 만들곤 했다. 

dict2 = {'column':[1, 2, 3, 4, 5, 6, 7, 8, 9, 0], 'column2':[1, 2, 3, 4, 5, 6, 7, 8, 9, 0], 'column3':[1, 2, 3, 4, 5, 6, 7, 8, 9, 0]}

In [59]:
dict2

{'column': [1, 2, 3, 4, 5, 6, 7, 8, 9, 0],
 'column2': [1, 2, 3, 4, 5, 6, 7, 8, 9, 0],
 'column3': [1, 2, 3, 4, 5, 6, 7, 8, 9, 0]}

In [60]:
import pandas as pd

In [61]:
df = pd.DataFrame(dict2)

In [62]:
df

   column  column2  column3
0       1        1        1
1       2        2        2
2       3        3        3
3       4        4        4
4       5        5        5
5       6        6        6
6       7        7        7
7       8        8        8
8       9        9        9
9       0        0        0

In [63]:
df.loc[2, 'column2']

3

In [64]:
df.index = ['0', '1', '2', '3', '4', '5', '6', '7', '8', '9']

In [66]:
df.iloc[4, 2]

# loc는 숫자아니다. iloc가 숫자가 반드시 기억할 것

5

In [65]:
df

   column  column2  column3
0       1        1        1
1       2        2        2
2       3        3        3
3       4        4        4
4       5        5        5
5       6        6        6
6       7        7        7
7       8        8        8
8       9        9        9
9       0        0        0

In [67]:
df.loc['2', 'column'] = 30

In [68]:
df

   column  column2  column3
0       1        1        1
1       2        2        2
2      30        3        3
3       4        4        4
4       5        5        5
5       6        6        6
6       7        7        7
7       8        8        8
8       9        9        9
9       0        0        0

In [69]:
df.loc['1']

column     2
column2    2
column3    2
Name: 1, dtype: int64

In [70]:
df.loc['1'] = 20

In [71]:
df

   column  column2  column3
0       1        1        1
1      20       20       20
2      30        3        3
3       4        4        4
4       5        5        5
5       6        6        6
6       7        7        7
7       8        8        8
8       9        9        9
9       0        0        0

In [72]:
df.loc['3'] = [40, 40, 4]

# 3개짜리 공간에는 3개를 넣어야한다. 일부만 넣기 불가능

In [74]:
# 없는걸 만들고 싶어요

mean_3 = df['column3'].mean()

In [76]:
col4 = df['column3'] > mean_3

In [77]:
df.index = ['9','8','7','6','5','4','3','2','1','0']

In [78]:
df

   column  column2  column3
9       1        1        1
8      20       20       20
7      30        3        3
6      40       40        4
5       5        5        5
4       6        6        6
3       7        7        7
2       8        8        8
1       9        9        9
0       0        0        0

In [79]:
df['column4'] = col4

In [80]:
df

   column  column2  column3  column4
9       1        1        1    False
8      20       20       20     True
7      30        3        3     True
6      40       40        4     True
5       5        5        5    False
4       6        6        6    False
3       7        7        7    False
2       8        8        8    False
1       9        9        9     True
0       0        0        0    False

In [82]:
col4

0    False
1     True
2    False
3    False
4    False
5    False
6     True
7     True
8     True
9    False
Name: column3, dtype: bool

In [ ]:
# 새로운 데이터가 들어갈때 인덱스 기준으로 정렬해서 들어감 
# 사람들이 많이 하는 에러 
# 크로스체크 필수. 잘 확인할 것.

In [ ]:
# 다시 문자열로

In [83]:
lorem

'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean lobortis justo eget lacus posuere, nec tristique velit iaculis. Quisque in auctor elit. Nulla et aliquet turpis. Maecenas imperdiet laoreet massa, eu sodales sem ornare malesuada. Cras sodales ipsum et tellus lacinia, ut mattis elit vehicula. Nunc quam quam, cursus quis leo quis, sagittis pellentesque eros. Donec nec nulla in sem bibendum tristique vel tempus metus.\nEtiam scelerisque nulla vel egestas feugiat. Aenean sed consectetur urna. Sed nisl mi, imperdiet a tincidunt eget, varius nec dui. In porta risus id bibendum viverra. Pellentesque tristique quam dolor, sed tempor orci hendrerit ut. Suspendisse id lectus vel massa varius fringilla non ac orci. Etiam nec odio hendrerit, dignissim justo sed, convallis nibh. Pellentesque bibendum euismod erat, ac congue purus tincidunt eu.\nPraesent diam enim, sollicitudin quis mi id, tristique laoreet nisi. Donec faucibus tellus at libero malesuada sagittis. Quisque condimentum porta luctus. Quisque sagittis ut purus ac auctor. Nulla eget porttitor turpis, eget finibus tortor. Sed vitae convallis justo. Aenean magna felis, luctus sit amet mauris nec, lobortis aliquam risus. Duis in nisi ac sem gravida venenatis. Nullam non eros nec mauris rhoncus dapibus. Sed rhoncus ornare ligula nec placerat. Sed augue enim, semper quis sapien at, lacinia mollis nisi. Nullam pulvinar, nunc vitae suscipit euismod, lectus libero mollis massa, ut tempor enim felis non lectus.\nInteger sit amet ex quis felis pellentesque facilisis. Aliquam lacus metus, bibendum pellentesque magna quis, pellentesque vestibulum eros. Vestibulum faucibus est massa. Nunc ante massa, congue nec tortor ut, bibendum facilisis tellus. Praesent non ex et mi fermentum sollicitudin. In sollicitudin est volutpat, dictum ipsum aliquet, commodo magna. Donec et hendrerit libero, sit amet dictum leo. Nam id posuere turpis, in vulputate erat. In nec metus ut justo congue dignissim. Maecenas lobortis volutpat venenatis. Integer rhoncus dolor ut sem tempor, id sollicitudin eros viverra. Proin tincidunt finibus tincidunt.\nVestibulum vitae lacus dapibus, placerat urna non, rhoncus dolor. Maecenas pellentesque malesuada ligula nec cursus. Sed augue erat, hendrerit sed tincidunt a, facilisis id enim. Pellentesque in massa pretium, aliquam urna commodo, maximus urna. Etiam finibus nulla ac tortor scelerisque, vitae ornare neque molestie. Quisque posuere nibh vitae ante varius congue. Nullam ut ipsum auctor, dapibus justo ut, volutpat magna. Nam tristique molestie arcu in ornare. Aenean cursus pellentesque faucibus. Ut dapibus fringilla aliquam.'

* lorem에서 소문자 a가 몇 개 있나요?

In [84]:
lorem.count('a')

165

In [91]:
count = 0

for i in lorem:
    if i == 'a' :
        count += 1 
        
print(count)

165

In [99]:
df = pd.read_csv('한국전력거래소_시간별 제주 풍력 발전 제어량_20211231.csv', encoding='cp949')

In [100]:
df

,일자,횟수,1시,2시,3시,4시,5시,6시,7시,8시,...,16시,17시,18시,19시,20시,21시,22시,23시,24시,총제어량
0,2021-01-13,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,65.17
1,2021-01-16,2,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,21.75
2,2021-01-18,3,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,46.67
3,2021-01-19,4,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,36.10
4,2021-01-24,5,0,0,0,0,0,0,0,0,...,3,0,0,0,0,0,0,0,0,97.67
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59,2021-10-22,60,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,136.26
60,2021-10-23,61,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,50.60
61,2021-10-31,62,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,37.12
62,2021-11-03,63,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,71.97
63,2021-12-03,64,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,72.05

In [103]:
# 처음부터 추가하고 싶을땐, 맨 마지막에 "index_col = 0" 추가
# 이건 이미 불러왔는데 인덱스를 추가하고 싶을때 

df.index = df['일자']

In [105]:
# 인덱스 설정해도 일자가 남아있으므로, 삭제해준다. 

df.drop('일자', axis=1, inplace=True)

In [106]:
df

,횟수,1시,2시,3시,4시,5시,6시,7시,8시,9시,...,16시,17시,18시,19시,20시,21시,22시,23시,24시,총제어량
일자,,,,,,,,,,,,,,,,,,,,,
2021-01-13,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,65.17
2021-01-16,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,21.75
2021-01-18,3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,46.67
2021-01-19,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,36.10
2021-01-24,5,0,0,0,0,0,0,0,0,0,...,3,0,0,0,0,0,0,0,0,97.67
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-10-22,60,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,136.26
2021-10-23,61,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,50.60
2021-10-31,62,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,37.12
2021-11-03,63,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,71.97
2021-12-03,64,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,72.05

21-1-13, 21-10-31, 21-11-3 <br>
이 3개만 검색하고 싶을땐 ?  <br>
데이터를 검색할땐 기본적으로 loc <br>

In [112]:
# df.loc['2021-1-13', '2021-02-01', '2021-11,01'] 

# 이렇게는 안된다. 
# 기본적으로 loc는 열과 행을 써야하기때문에
# 그럼 어떻게 ?
# 리스트로 묶는다.

df2 = df.loc[['2021-01-13', '2021-10-31', '2021-11-03']]
df2

,횟수,1시,2시,3시,4시,5시,6시,7시,8시,9시,...,16시,17시,18시,19시,20시,21시,22시,23시,24시,총제어량
일자,,,,,,,,,,,,,,,,,,,,,
2021-01-13,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,65.17
2021-10-31,62,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,37.12
2021-11-03,63,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,71.97

In [114]:
# 파이썬 인덱싱 
# 이름별 인덱싱
# 순서별 인덱싱 : 몇번째 몇번째 ㅇㅋ
# True, Fase 기반 인덱싱 : 마스킹과 원리가 똑같다.

df2.loc[[True, False, True]]

,횟수,1시,2시,3시,4시,5시,6시,7시,8시,9시,...,16시,17시,18시,19시,20시,21시,22시,23시,24시,총제어량
일자,,,,,,,,,,,,,,,,,,,,,
2021-01-13,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,65.17
2021-11-03,63,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,71.97

In [117]:
df3 = pd.DataFrame([[1,2,3],['a','b','c'],[9,'q',8]])

In [122]:
df3.loc[0] / 2

0    0.5
1    1.0
2    1.5
Name: 0, dtype: object

In [123]:
df3.loc[1] / 2

TypeError: unsupported operand type(s) for /: 'str' and 'int'

In [124]:
df3.loc[2] / 2

# 하나라도 안되면 연산은 안된다.

TypeError: unsupported operand type(s) for /: 'str' and 'int'

In [133]:
df4 = pd.DataFrame([[1,2,3],['5','b', 3],[9,'q',8]])

In [134]:
df4

   0  1  2
0  1  2  3
1  5  b  3
2  9  q  8

In [135]:
df4[0]

# 보이기는 다 숫자로 보이지만,
# dtype: object이다. 주의할 것! 이 경우에는 숫자가 아닌것이 섞여있는거다. 

# 컬렴에 무언가를 해야할 때 컬럼별로 데이터를 살펴볼 것

0    1
1    5
2    9
Name: 0, dtype: object

In [136]:
df4[1]

0    2
1    b
2    q
Name: 1, dtype: object

In [139]:
df4[2]

0    3
1    3
2    8
Name: 2, dtype: int64

In [140]:
# 데이터프레임 검색하는 법 - 또 다른 방법 
# 특정 값을 가지는 데이터 프레임 검색 

df['16시']

일자
2021-01-13    0
2021-01-16    0
2021-01-18    0
2021-01-19    0
2021-01-24    3
             ..
2021-10-22    0
2021-10-23    1
2021-10-31    0
2021-11-03    0
2021-12-03    0
Name: 16시, Length: 64, dtype: int64

In [141]:
df.loc['2021-01-24']

횟수       5.00
1시       0.00
2시       0.00
3시       0.00
4시       0.00
5시       0.00
6시       0.00
7시       0.00
8시       0.00
9시       0.00
10시      0.00
11시      0.00
12시      3.00
13시     31.00
14시     43.00
15시     18.00
16시      3.00
17시      0.00
18시      0.00
19시      0.00
20시      0.00
21시      0.00
22시      0.00
23시      0.00
24시      0.00
총제어량    97.67
Name: 2021-01-24, dtype: float64

In [142]:
# '2021-01-24'에서 3은 몇시인가 

df.columns[df.loc['2021-01-24'] == 3]

Index(['12시', '16시'], dtype='object')

In [147]:
# df.columns[df.loc['2021-01-24', '1시':'24시'].max()]
# 사이즈가 달라서 인덱스 에러가 발생한다. 

# 그럼 어떻게?

# True False 기반 인덱싱 = 마스킹과 동일 

df.columns[df.loc['2021-01-24'] == df.loc['2021-01-24', '1시':'24시'].max()]

Index(['14시'], dtype='object')

In [149]:
# 동일한 내용

max_value = df.loc['2021-01-24', '1시':'24시'].max()
m = df.loc['2021-01-24'] == max_value
df.columns[m]

Index(['14시'], dtype='object')

In [154]:
df2 = df[df != 0]
df2

,횟수,1시,2시,3시,4시,5시,6시,7시,8시,9시,...,16시,17시,18시,19시,20시,21시,22시,23시,24시,총제어량
일자,,,,,,,,,,,,,,,,,,,,,
2021-01-13,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,65.17
2021-01-16,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,21.75
2021-01-18,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,46.67
2021-01-19,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,36.10
2021-01-24,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,97.67
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-10-22,60,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,136.26
2021-10-23,61,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,50.60
2021-10-31,62,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,37.12
2021-11-03,63,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,71.97
2021-12-03,64,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,72.05

In [152]:
# NaN = NAN = nan= Null = N/A = NA = null = NULL = #NULL = 결측치 등 다양함 (빈값. 해당 셀은 없다.)
# 프로그래밍 언어에 따라 다르게 표시함 (사람에 따라도 다름)

float('nan') # 원래 float에 문자열 넣으면 안되지만 nan은 된다.

nan

In [155]:
df2.dropna() 
# 결측치가 하나라도 있으면 다 지워버림
# 데이터분석시 데이터가 잔뜩 있는데, 결측치가 하나라도 있으면 다 지워버림 
# 근데 다 없어져버렸어 > 안지우느니 못해 이럴땐?

Empty DataFrame
Columns: [횟수, 1시, 2시, 3시, 4시, 5시, 6시, 7시, 8시, 9시, 10시, 11시, 12시, 13시, 14시, 15시, 16시, 17시, 18시, 19시, 20시, 21시, 22시, 23시, 24시, 총제어량]
Index: []

[0 rows x 26 columns]

In [156]:
df2.dropna(axis = 1)

            횟수    총제어량
일자
2021-01-13   1   65.17
2021-01-16   2   21.75
2021-01-18   3   46.67
2021-01-19   4   36.10
2021-01-24   5   97.67
...         ..     ...
2021-10-22  60  136.26
2021-10-23  61   50.60
2021-10-31  62   37.12
2021-11-03  63   71.97
2021-12-03  64   72.05

[64 rows x 2 columns]

In [159]:
df3 = df2.dropna(axis = 1, how='all') 
df3
# 모든 값이 결측치인것만 다 지워라

            횟수  8시  9시  10시  11시   12시   13시   14시   15시  16시  17시    총제어량
일자
2021-01-13   1 NaN NaN  NaN  NaN   NaN  12.0  28.0  25.0  NaN  NaN   65.17
2021-01-16   2 NaN NaN  NaN  NaN   NaN   4.0  18.0   NaN  NaN  NaN   21.75
2021-01-18   3 NaN NaN  NaN  NaN   NaN   NaN  21.0  25.0  NaN  NaN   46.67
2021-01-19   4 NaN NaN  NaN  NaN   NaN  13.0  22.0   1.0  NaN  NaN   36.10
2021-01-24   5 NaN NaN  NaN  NaN   3.0  31.0  43.0  18.0  3.0  NaN   97.67
...         ..  ..  ..  ...  ...   ...   ...   ...   ...  ...  ...     ...
2021-10-22  60 NaN NaN  NaN  NaN   9.0  61.0  48.0  17.0  NaN  NaN  136.26
2021-10-23  61 NaN NaN  NaN  NaN  12.0  16.0  16.0   6.0  1.0  NaN   50.60
2021-10-31  62 NaN NaN  NaN  3.0   9.0  17.0   8.0   NaN  NaN  NaN   37.12
2021-11-03  63 NaN NaN  NaN  NaN  13.0  49.0  10.0   NaN  NaN  NaN   71.97
2021-12-03  64 NaN NaN  NaN  NaN   7.0  36.0  28.0   1.0  NaN  NaN   72.05

[64 rows x 12 columns]

In [161]:
df3.fillna(999)
# 빈값에 동일하게 채워넣을 것 설정

,횟수,8시,9시,10시,11시,12시,13시,14시,15시,16시,17시,총제어량
일자,,,,,,,,,,,,
2021-01-13,1,999.0,999.0,999.0,999.0,999.0,12.0,28.0,25.0,999.0,999.0,65.17
2021-01-16,2,999.0,999.0,999.0,999.0,999.0,4.0,18.0,999.0,999.0,999.0,21.75
2021-01-18,3,999.0,999.0,999.0,999.0,999.0,999.0,21.0,25.0,999.0,999.0,46.67
2021-01-19,4,999.0,999.0,999.0,999.0,999.0,13.0,22.0,1.0,999.0,999.0,36.10
2021-01-24,5,999.0,999.0,999.0,999.0,3.0,31.0,43.0,18.0,3.0,999.0,97.67
...,...,...,...,...,...,...,...,...,...,...,...,...
2021-10-22,60,999.0,999.0,999.0,999.0,9.0,61.0,48.0,17.0,999.0,999.0,136.26
2021-10-23,61,999.0,999.0,999.0,999.0,12.0,16.0,16.0,6.0,1.0,999.0,50.60
2021-10-31,62,999.0,999.0,999.0,3.0,9.0,17.0,8.0,999.0,999.0,999.0,37.12
2021-11-03,63,999.0,999.0,999.0,999.0,13.0,49.0,10.0,999.0,999.0,999.0,71.97
2021-12-03,64,999.0,999.0,999.0,999.0,7.0,36.0,28.0,1.0,999.0,999.0,72.05

### 결측치를 왜 쓰는지 ? 
#### 결측치 대신 0, '', ' ', 파이 기호 를 쓰지않고 결측치를 쓰는 이유 ?

[이유]
+ ' ', ''가 들어있으면 연산시 오류가 발생되므로 사용하지 않음.
+ 0은 무엇을 곱해도 0이 되기때문에 다른 데이터를 없애버릴 위험이 있으므로 사용하지 않음. 

### 그럼 nan 값은 이런 문제가 전혀 없느냐? 그렇다.
+ 덧셈 뺄셈 나누기 곱하기 순서를 바꿔도 그냥 nan값으로 처리됨 
+ 문제가 되는 연산에 대해서는 nan이 존재한다는 것을 바로 알 수 있기 때문에 (0은 정상값이 0인지 잘못된 값이 0인지 판단하기 어려움 )

### nan값의 특이한 특징
+ 자기 자신과 일치하지 않음 
+ 그러므로 결측치가 있는지 없는지 판단하기 편하다

# 전처리

1. 데이터 클리닝
- 데이터 삭제
- 이상치/결측치 처리
- 수정된 데이터 평가
2. 데이터 통합
- 같은 의미를 가지는 데이터 검토
3. 데이터 변환
- 단위/형태 변환
- 여러 의미를 가진 데이터의 경우 분리 저장
4. 데이터 축소
- 차원 축소 : 데이터 처리 시간이 매우 줄어든다 (한차원만 줄여도 시간이 줄어듦)
- 유효숫자 변경 : 단위 지정 
- 수량감소 
    - 예) 1년간 취미를 즐긴 횟수 : 10, 1년내 취미를 즐긴적이 있나? 예(1) 아니오(0)
    - 설문지법에서는 정확한 수량을 묻는것을 권장하지 않음 
    - 3초안에 질문의 답이 나오는 질문을 함 (예/아니오)
- 데이터 속성 제거
    - 취미 / 최근 1년간 즐긴 취미 등과 같은 비슷한 내용일 경우 하나는 삭제된다.
- 샘플링 
    - 통계법, 설문지법 등에 나와있는 기준에 따라 샘플을 뽑음
    - 예) 국가총조사 
    - 데이터가 너무 많을 경우 샘플을 뽑아 통계함 
    - 장점 : 속도가 빠름 / 이상한 데이터가 대표한다고 착각할 확률이 줄어듦 / 비용이 더 적음 
- 클러스터링
    - 비슷한 것 끼리 묶는거 
- 데이터 용량 축소 
    - 데이터를 정보로 바꾸는 전처리 과정에 엄밀히 말하면 들어가진 않지만, 그냥 과정에서 병행되는 편 
    - 빈공간을 없애 데이터 용량을 줄이는 방법
    - 압축을 너무하면 느려진다 (CPU 사용)
    - 사양이 낮은 컴퓨터는 용량도 부족하고 성능도 부족한데 이때는 압축 수준을 어느정도로 할 것인지 우선순위 결정 
- 꼭 해야하는건 아님
- 해야하는 경우
    - 유전자 검사 : 26만 개 중 100여개만 필요 
    - 데이터가 너무 많으면 메모리를 너무 많이 잡아먹음 > 데이터를 잘라내거나 
 5. 데이터 이산화 : 연속형 데이터를 범주형 데이터로 변경 
 - 데이터 : 연속형(스칼라) / 범주형(카테고리컬)
 - 예) 키는 연속형 데이터 -> 키가 170이 넘으면 '크다' 아니면 '작다'로 나눔 -> 범주형 데이터로 변경 -> 데이터 이산화
 - 연속형은 기준이 없다. 컴퓨터는 판단을 할 수가 없다. 그것은 데이터 이산화를 통해 기준을 만들어주면 해결된다. 
 6. 결측치, 이상치 처리 : 매우 중요하고 어려운 부분
 - 결측치 : 분석이 불가능한 데이터
 - 이상치 
 - 처리방법 : 제거, 대체, 기계학습을 통한 대체
 - 대표적인 모델 : 자연어처리
 7. 표준화, 정규화
 - 데이터가 어떻게 분포되어 있느냐 
 - 어떤 통계 분석을 할 것이냐 결정
 - 예) -10 ~ 999 : 이런 범위가 있을 경우 딥러닝 모델을 하면 치명적인 문제가 생길 수 있음 
     - 999 절대값이 너무 큼 
     - 중간에 0이 끼어있기때문. 0은 곱하면 0
     - 딥러닝은 기본적으로 기울기로 판단하는데 마이너스 값이 있으면 기울기가 반대라 치명적임 
 - 이러한 문제를 해결하기 위해선, 항상 양수, 0이 아니고, 절대값도 크지 않아야함 
 - 그래서 -10 ~ 999를 0 ~ 1 로 바꾸는 과정을 정규화라고 부름 
     - 분포차이는 유지가 됨 
 - 표준화를 안한 데이터를 입력했을때 문제점
     - 통계분석이란 2가지 전제조건이 있음. 1. 데이터 유형이 둘 중 하나다(정해짐) 2. 데이터는 어떤 특정 분포를 따른다.
     - 무조건 따라야한다. (특수한 경우 제외)

+ 프로세싱 (전처리) 수정한 데이터 결과물(아웃풋) 3개가 모두 있어야함 (원본, 수정된 데이터, 결과물)
+ 원본은 반드시 저장해야한다.
+ 모든 과정이 숨김없이 나와야한다. >> 아니면 데이터 조작 의심 ! 
+ 원본과 결과물을 가지고 남이 봤을때 오타없이 잘 입력했을때 똑같은 결과를 나타낼 수 있어야 한다.

## 실습

+ 아래 데이터를 조건에 맞게 전처리해주세요.

1. 교육대상이 성인을 포함하는지 아닌지에 따라,
2. 강좌정원수가 유의미한 차이가 있는지 알아보고 싶어요.

In [163]:
import pandas as pd
import numpy as np

In [164]:
media = pd.read_csv('./시청자미디어재단_체험형미디어교육_20230704.csv', encoding='cp949')

In [168]:
media

,센터명,강좌명,강사명,교육시작일자,교육종료일자,강좌내용,교육대상구분,교육방법구분,운영요일,강좌정원수,데이터기준일자,차수
0,대전시청자미디어센터,센터 체험_대전가양초등학교,강사미정,2023-07-01,2023-07-01,다문화가정 초등학생 체험/TV체험,초등학생,오프라인,토,13,2023-06-21,1
1,대전시청자미디어센터,센터 체험_노은유치원,강사미정,2023-07-04,2023-07-04,7세반 유아/TV체험,어린이,오프라인,화,25,2023-06-21,1
2,대전시청자미디어센터,센터 체험_대전성천초등학교,강사미정,2023-07-04,2023-07-04,3~4학년/TV체험,초등학생,오프라인,화,20,2023-06-21,1
3,대전시청자미디어센터,센터 체험_중리중학교(자유학년제 진로체험),강사미정,2023-07-04,2023-07-04,TV체험,중학생,오프라인,화,16,2023-06-21,1
4,대전시청자미디어센터,센터 체험_중리중학교(자유학년제 진로체험),강사미정,2023-07-04,2023-07-04,라디오체험,중학생,오프라인,화,16,2023-06-21,1
...,...,...,...,...,...,...,...,...,...,...,...,...
88,서울시청자미디어센터,방산중 미디어체험교육,"황혜정,김도경,김민호",2023-07-03,2023-07-03,"뉴스 체험, 더빙 체험, 스톱모션 체험 교육",중등,오프라인,월,75,2023-07-03,1
89,서울시청자미디어센터,상설 미디어체험교육,"김도경,이수현,이슬기",2023-07-08,2023-07-29,"뉴스 체험, 더빙 체험 교육",일반,오프라인,토,미정,2023-07-03,1
90,서울시청자미디어센터,애화학교 찾아가는 미디어 나눔버스,"이수현,이슬기",2023-07-17,2023-07-17,크로마키/ 뉴스 체험 교육,청소년,오프라인,월,미정,2023-07-03,1
91,광주시청자미디어센터,TV체험,미정,2023-01-01,2023-12-31,"방송(뉴스, 예능) 프로그램 제작 체험",일반 시민,오프라인,"월,화,수,목,금,토",30,2023-06-29,1
92,광주시청자미디어센터,라디오체험,미정,2023-01-01,2023-12-31,라디오 프로그램 제작 체험,일반 시민,오프라인,"월,화,수,목,금,토",20,2023-06-29,1

In [166]:
media.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 93 entries, 0 to 92
Data columns (total 12 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   센터명      93 non-null     object
 1   강좌명      93 non-null     object
 2   강사명      93 non-null     object
 3   교육시작일자   93 non-null     object
 4   교육종료일자   93 non-null     object
 5   강좌내용     93 non-null     object
 6   교육대상구분   93 non-null     object
 7   교육방법구분   93 non-null     object
 8   운영요일     93 non-null     object
 9   강좌정원수    93 non-null     object
 10  데이터기준일자  93 non-null     object
 11  차수       93 non-null     int64
dtypes: int64(1), object(11)
memory usage: 8.8+ KB

### 과제를 풀어가는 과정

1. null 없음 
2. 강좌정원수 데이터타입이 오브젝트 -> 확인 필요
    - 미정을 바꿔줄 필요가 있음. -> 어떻게 처리? -> 함수만들어서 변경 (try - except) 0으로 변경
    - 처리 후 데이터 타입을 int로 수정할 것 
3. 교육대상구분 : 데이터 통합 필요 (일반/일반시민/일반 시민) & (초등생이상, 초등생 이상) -> 하지만 어짜피 수정할거니 이건 따로 안하기로
4. 성인을 포함하는 -> 성인 포함하면 True 아니면 False로 변경 
    - 범주형 데이터를 숫자형 데이터로 변경 
    - 성인x : 초등학생, 어린이, 중학생, 고등학생, 5세이상-7세이하, 중등, 청소년
    - 성인o : '일반시민', '초등생이상', '시니어', '초등생 이상', '일반', '일반 시민'

In [171]:
media['강좌정원수'].unique()

array(['13', '25', '20', '16', '18', '11', '10', '19', '30', '17', '21',
       '15', '22', '23', '60', '8', '6', '75', '미정'], dtype=object)

In [170]:
media['교육대상구분'].unique()

array(['초등학생', '어린이', '중학생', '고등학생', '일반시민', '초등생이상', '시니어', '초등생 이상',
       '5세이상-7세이하', '중등', '일반', '청소년', '일반 시민'], dtype=object)

In [173]:
# 해설

target = ['일반시민', '초등생이상', '시니어', '초등생 이상', '일반', '일반 시민']

In [174]:
'시니어' in target

True

In [175]:
'어린이' in target

False

In [179]:
m = media['교육대상구분'].apply(lambda x: x in target)

In [190]:
df2 = media[m]

In [192]:
def to_int(x):
    try:
        return int(x)
    except:
        return 0
    
# 지금까진 계속 int로 하고 있긴하지만, 데이터사이언티스트 입장에선 float로 받는것이 맞다. 
# 그렇긴한데 ... 정안될때만 실수를 하자 
# 그리고 정수는 절대 실수로 바꾸지 않도록 하자 
# 왜냐하면, 파이썬은 소수점을 다룰때 부동소수점을 사용함. (치명적인 문제)
# 파이썬은 CPU, GPU가 있는데 서로 다름. CPU는 정확해야하고 GPU는 살짝정도 틀어진거정돈 괜찮아하기 때문

In [218]:
# 고정 소수점
# 소수점 자리의 정확한 자리수를 측정해서 정확히 알려줌

# 부동 소수점
# 컴퓨터가 근사값 몇개를 준비해서 비슷한거 있으면 그거 준다. -> 속도는 더 빠르기 때문

In [ ]:
# 딥러닝 문제는 0부터 1까지 정규화하니까 소수점이 큰게 나오는데 부동 소수점이 사용된다.
# 그러므로 이거다 아니다 딱 말할 수 없다 
# 그래서 결과값을 &&일 확률은 @@%다. 이런식으로 말하는 것이다.

In [194]:
df2['강좌정원수'] = df2['강좌정원수'].apply(lambda x: to_int(x))

# 이 경우는 얕은 복사를 의도하고 한 것. 
# 얕은 복사를 지원하지않았더라면 이런 건 할 수 없었을거임.

C:\Users\BIG2-003-008\AppData\Local\Temp\ipykernel_4952\3016817227.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['강좌정원수'] = df2['강좌정원수'].apply(lambda x: to_int(x))

### 경고메시지 뜨는 이유 (빨간바탕 글)
1. 니가 원하는게 이게 맞니? 니가 이걸 의도한게 맞니? (잠재적 에러 메시지)
2. 니가 쓰고 있는 이 기능이 파이썬 다음 버전에서는 삭제될 수도 있으니 다음엔 쓰지마
3. 사용자 지정 워닝

### 파이썬이 파이썬을 복사하는 방법

In [195]:
x = 123

In [196]:
y = x

In [197]:
y += 1

In [198]:
x, y

(123, 124)

In [199]:
list1 = [1,2,3]

In [200]:
list2 = list1

In [201]:
list2

[1, 2, 3]

In [202]:
list2[2] = 999

In [203]:
list1, list2

# 의도하지 않게 출력되었다. 
# list1은 건들지도 않았는데, 요소가 변경되었다.

# 바로 파이썬이 복사할때 쓰는 방법 때문 !

([1, 2, 999], [1, 2, 999])

### 파이썬 카피
 - 얕은 복사 : 파이썬 복사
 - 깊은 복사 : 일반적으로 생각하는 복사
 - 얕은 복사와 깊은 복사 구분을 잘 해야함. 그리고 함부로 데이터 수정하면 안됨.

In [206]:
df2

,센터명,강좌명,강사명,교육시작일자,교육종료일자,강좌내용,교육대상구분,교육방법구분,운영요일,강좌정원수,데이터기준일자,차수
12,대전시청자미디어센터,센터 체험_국방정신전력원,강사미정,2023-07-19,2023-07-19,군인 장교 대위 교육기관/TV체험,일반시민,오프라인,수,17,2023-06-21,1
14,울산시청자미디어센터,오늘은 NEWS데이,"김윤아,권석진",2023-07-04,2023-07-04,크로마키를 활용한 미디어 직업 체험,초등생이상,오프라인,화,25,2023-06-27,1
15,울산시청자미디어센터,DJ수다박스,"김은희,김병준",2023-07-04,2023-07-04,라디오 프로그램 제작 체험,초등생이상,오프라인,화,25,2023-06-27,1
16,울산시청자미디어센터,찰칵 애니,"김현주,도현정",2023-07-04,2023-07-04,스톱모션 기술을 이용한 애니메이션 제작 체험,초등생이상,오프라인,화,25,2023-06-27,1
17,울산시청자미디어센터,알고리즘+빅데이터,이창수,2023-07-04,2023-07-04,"알고리즘 분석을 통한 비판적 정보탐색 역량강화 체험, 데이터를 모으고 시각화하는 과...",초등생이상,오프라인,화,25,2023-06-27,1
18,울산시청자미디어센터,오늘은 NEWS데이,"박민주,안지현",2023-07-05,2023-07-05,크로마키를 활용한 미디어 직업 체험,초등생이상,오프라인,수,25,2023-06-27,1
19,울산시청자미디어센터,DJ수다박스,"장미경,공상혁",2023-07-05,2023-07-05,라디오 프로그램 제작 체험,초등생이상,오프라인,수,25,2023-06-27,1
20,울산시청자미디어센터,빅데이터,전윤겸,2023-07-05,2023-07-05,데이터를 모으고 시각화하는 과정을 배울수 있는 미디어 신기술 체험,초등생이상,오프라인,수,25,2023-06-27,1
21,울산시청자미디어센터,찰칵 애니,"김윤아,김은희",2023-07-05,2023-07-05,스톱모션 기술을 이용한 애니메이션 제작 체험,초등생이상,오프라인,수,25,2023-06-27,1
22,울산시청자미디어센터,알고리즘,이창수,2023-07-05,2023-07-05,알고리즘 분석을 통한 비판적 정보탐색 역량강화 체험,초등생이상,오프라인,수,25,2023-06-27,1
23,울산시청자미디어센터,오늘은 NEWS데이,"강선화,권석진",2023-07-06,2023-07-06,크로마키를 활용한 미디어 직업 체험,초등생이상,오프라인,목,25,2023-06-27,1
24,울산시청자미디어센터,DJ수다박스,"장현,김병준",2023-07-06,2023-07-06,라디오 프로그램 제작 체험,초등생이상,오프라인,목,25,2023-06-27,1
25,울산시청자미디어센터,찰칵 애니,"도현정,김현주",2023-07-06,2023-07-06,스톱모션 기술을 이용한 애니메이션 제작 체험,초등생이상,오프라인,목,25,2023-06-27,1
28,울산시청자미디어센터,초록세상 마법학교,"장미경,이창수",2023-07-12,2023-07-12,크로마키를 활용한 영상 합성 체험,초등생이상,오프라인,수,25,2023-06-27,1
29,울산시청자미디어센터,오늘은 NEWS데이,"김윤아,김병준",2023-07-15,2023-07-15,크로마키를 활용한 미디어 직업 체험,초등생이상,오프라인,토,25,2023-06-27,1
30,울산시청자미디어센터,DJ 수다박스,"김은희,안지현",2023-07-15,2023-07-15,라디오 프로그램 제작 체험,초등생이상,오프라인,토,25,2023-06-27,1
31,울산시청자미디어센터,오늘은 NEWS데이,"김현주,이창수",2023-07-18,2023-07-18,크로마키를 활용한 미디어 직업 체험,초등생이상,오프라인,화,25,2023-06-27,1
32,울산시청자미디어센터,DJ 수다박스,"도현정,권석진",2023-07-18,2023-07-18,라디오 프로그램 제작 체험,초등생이상,오프라인,화,25,2023-06-27,1
33,울산시청자미디어센터,빅데이터,전윤겸,2023-07-18,2023-07-18,데이터를 모으고 시각화하는 과정을 배울수 있는 미디어 신기술 체험,초등생이상,오프라인,화,25,2023-06-27,1
35,울산시청자미디어센터,찰칵 애니,"김현주,도현정",2023-07-19,2023-07-19,스톱모션 기술을 이용한 애니메이션 제작 체험,초등생이상,오프라인,수,25,2023-06-27,1
37,울산시청자미디어센터,더빙극장,"김윤아,이창수",2023-07-22,2023-07-22,애니메이션을 활용한 더빙 체험,초등생이상,오프라인,토,25,2023-06-27,1
39,울산시청자미디어센터,DJ 수다박스,"박민주, 권석진",2023-07-26,2023-07-26,라디오 프로그램 제작 체험,초등생이상,오프라인,수,25,2023-06-27,1
45,세종시청자미디어센터,골라보는 뉴스룸,미정,2023-07-03,2023-07-03,"아나운서, 기자, 방송인 직업체험",일반시민,오프라인,월,25,2023-06-28,1
46,세종시청자미디어센터,골라보는 뉴스룸,미정,2023-07-04,2023-07-04,"아나운서, 기자, 방송인 직업체험",일반시민,오프라인,화,25,2023-07-04,1
47,세종시청자미디어센터,골라보는 뉴스룸,미정,2023-07-05,2023-07-05,"아나운서, 기자, 방송인 직업체험",일반시민,오프라인,수,25,2023-07-04,1
48,세종시청자미디어센터,골라보는 뉴스룸,미정,2023-07-06,2023-07-06,"아나운서, 기자, 방송인 직업체험",일반시민,오프라인,목,25,2023-07-04,1
49,세종시청자미디어센터,두다다다 더빙탐험대,미정,2023-07-03,2023-07-03,애니메이션 더빙 체험,일반시민,오프라인,월,25,2023-07-04,1
50,세종시청자미디어센터,두다다다 더빙탐험대,미정,2023-07-04,2023-07-04,애니메이션 더빙 체험,일반시민,오프라인,화,25,2023-07-04,1
51,세종시청자미디어센터,두다다다 더빙탐험대,미정,2023-07-05,2023-07-05,애니메이션 더빙 체험,일반시민,오프라인,수,25,2023-07-04,1
52,세종시청자미디어센터,두다다다 더빙탐험대,미정,2023-07-06,2023-07-06,애니메이션 더빙 체험,일반시민,오프라인,목,25,2023-07-04,1
53,세종시청자미디어센터,초록TV,미정,2023-07-10,2023-07-10,유아 크로마키 체험,일반시민,오프라인,월,20,2023-07-04,1
54,세종시청자미디어센터,초록TV,미정,2023-07-11,2023-07-11,유아 크로마키 체험,일반시민,오프라인,화,20,2023-07-04,1
55,세종시청자미디어센터,초록TV,미정,2023-07-14,2023-07-14,유아 크로마키 체험,일반시민,오프라인,화,20,2023-07-04,1
56,세종시청자미디어센터,초록TV,미정,2023-07-19,2023-07-19,유아 크로마키 체험,일반시민,오프라인,수,20,2023-07-04,1
57,세종시청자미디어센터,초록TV,미정,2023-07-20,2023-07-20,유아 크로마키 체험,일반시민,오프라인,목,20,2023-07-04,1
58,세종시청자미디어센터,초록TV,미정,2023-07-21,2023-07-21,유아 크로마키 체험,일반시민,오프라인,금,20,2023-07-04,1
61,인천시청자미디어센터,찾아가는 미디어나눔버스(TV뉴스체험),"박지원,김지원",2023-07-12,2023-07-12,TV 뉴스 제작 및 영상합성 크로마키 체험,시니어,오프라인,수,30,2023-07-04,1
63,인천시청자미디어센터,찾아가는 미디어나눔버스(TV뉴스체험),"류은애,김은희",2023-07-14,2023-07-14,TV 뉴스 제작 및 영상합성 크로마키 체험,일반시민,오프라인,금,60,2023-07-04,1
64,인천시청자미디어센터,찾아가는 미디어나눔버스(TV뉴스체험),"이해인,강진경",2023-07-15,2023-07-15,TV 뉴스 제작 및 영상합성 크로마키 체험,일반시민,오프라인,토,60,2023-07-04,1
70,충북시청자미디어센터,TV체험(뉴스체험),미정,2023-05-02,2023-05-31,"아나운서, 기자, 기상캐스터 등 역할을 나누어 뉴스 제작 과정을 체험해보는 프로그램",초등생 이상,오프라인,"월,화,수,목,금,토",15,2023-06-29,1
71,충북시청자미디어센터,라디오체험(DJ체험),미정,2023-05-02,2023-05-31,"라디오 프로그램을 작가, DJ, 게스트가 되어 라디오 프로그램을 제작해보는 체험",초등생 이상,오프라인,"월,화,수,목,금,토",15,2023-06-29,1
73,충북시청자미디어센터,폴리아티스트 체험,미정,2023-05-02,2023-05-31,영상에 어울리는 소리를 다양한 재료로 만들어보고 더빙해보는 체험,초등생 이상,오프라인,"월,화,수,목,금,토",15,2023-06-29,1
74,충북시청자미디어센터,AI 체험,미정,2023-05-02,2023-05-31,인공지능에 대해 이해하고 머신러닝을 여러 방법으로 알아보는 체험,초등생 이상,오프라인,"월,화,수,목,금,토",15,2023-06-29,1
75,충북시청자미디어센터,라이브커머스체험,미정,2023-05-02,2023-05-31,라이브커머스의 이해 및 체험,초등생 이상,오프라인,"월,화,수,목,금,토",15,2023-06-29,1
80,부산시청자미디어센터,라디오체험(웰컴투라디오),미정,2023-07-01,2023-07-31,라디오 프로그램 제작 체험,일반시민,오프라인,"월,화,수,목,금,토",20,2023-06-30,1
81,부산시청자미디어센터,더빙체험(나도 애니주인공),미정,2023-07-01,2023-07-31,애니메이션 더빙 체험,일반시민,오프라인,"월,화,수,목,금,토",20,2023-06-30,1
82,부산시청자미디어센터,스마트체험(꼼지락애니),미정,2023-07-01,2023-07-31,스톱모션 애니메이션 제작 체험,일반시민,오프라인,"월,화,수,목,금,토",20,2023-06-30,1
83,부산시청자미디어센터,TV체험(행복뉴스),미정,2023-07-01,2023-07-31,방송뉴스 프로그램 제작 체험,일반시민,오프라인,"월,화,수,목,금,토",20,2023-06-30,1
84,부산시청자미디어센터,크로마키체험(파랑TV),미정,2023-07-01,2023-07-31,크로마키 합성을 이용한 놀이형 체험,일반시민,오프라인,"월,화,수,목,금,토",20,2023-06-30,1
89,서울시청자미디어센터,상설 미디어체험교육,"김도경,이수현,이슬기",2023-07-08,2023-07-29,"뉴스 체험, 더빙 체험 교육",일반,오프라인,토,0,2023-07-03,1
91,광주시청자미디어센터,TV체험,미정,2023-01-01,2023-12-31,"방송(뉴스, 예능) 프로그램 제작 체험",일반 시민,오프라인,"월,화,수,목,금,토",30,2023-06-29,1
92,광주시청자미디어센터,라디오체험,미정,2023-01-01,2023-12-31,라디오 프로그램 제작 체험,일반 시민,오프라인,"월,화,수,목,금,토",20,2023-06-29,1

In [205]:
df2['강좌정원수'].mean()

23.78846153846154

In [209]:
df3 = media[-m]

In [210]:
df3

,센터명,강좌명,강사명,교육시작일자,교육종료일자,강좌내용,교육대상구분,교육방법구분,운영요일,강좌정원수,데이터기준일자,차수
0,대전시청자미디어센터,센터 체험_대전가양초등학교,강사미정,2023-07-01,2023-07-01,다문화가정 초등학생 체험/TV체험,초등학생,오프라인,토,13,2023-06-21,1
1,대전시청자미디어센터,센터 체험_노은유치원,강사미정,2023-07-04,2023-07-04,7세반 유아/TV체험,어린이,오프라인,화,25,2023-06-21,1
2,대전시청자미디어센터,센터 체험_대전성천초등학교,강사미정,2023-07-04,2023-07-04,3~4학년/TV체험,초등학생,오프라인,화,20,2023-06-21,1
3,대전시청자미디어센터,센터 체험_중리중학교(자유학년제 진로체험),강사미정,2023-07-04,2023-07-04,TV체험,중학생,오프라인,화,16,2023-06-21,1
4,대전시청자미디어센터,센터 체험_중리중학교(자유학년제 진로체험),강사미정,2023-07-04,2023-07-04,라디오체험,중학생,오프라인,화,16,2023-06-21,1
5,대전시청자미디어센터,센터 체험_센트럴유치원,강사미정,2023-07-05,2023-07-05,7세반 유아/TV체험,어린이,오프라인,수,18,2023-06-21,1
6,대전시청자미디어센터,찾아가는 체험_진잠초등학교,강사미정,2023-07-07,2023-07-07,3학년 1반/TV/우리마을 스템프투어 작전명 유성,초등학생,오프라인,금,16,2023-06-21,1
7,대전시청자미디어센터,센터 체험_대전외국어고 방송부,강사미정,2023-07-07,2023-07-07,방송부/TV체험,고등학생,오프라인,금,11,2023-06-21,1
8,대전시청자미디어센터,센터 체험_대전외국어고 일반학생,강사미정,2023-07-07,2023-07-07,일반 학생/라디오 체험,고등학생,오프라인,금,10,2023-06-21,1
9,대전시청자미디어센터,센터 체험_센트럴유치원,강사미정,2023-07-11,2023-07-11,7세반 유아/TV체험,어린이,오프라인,화,19,2023-06-21,1
10,대전시청자미디어센터,나눔버스_충남 홍성 홍주고등학교,강사미정,2023-07-13,2023-07-13,읍면지역학교/고등 1~3학년,고등학생,오프라인,목,30,2023-06-21,1
11,대전시청자미디어센터,나눔버스_충남 홍성 홍주고등학교,강사미정,2023-07-13,2023-07-13,읍면지역학교/고등 1~3학년,고등학생,오프라인,목,30,2023-06-21,1
13,대전시청자미디어센터,센터 체험_목련어린이집,강사미정,2023-07-21,2023-07-21,6~7세반 유아/TV체험,어린이,오프라인,금,21,2023-06-21,1
26,울산시청자미디어센터,초록세상 마법학교,"전윤겸,권석진",2023-07-10,2023-07-10,크로마키를 활용한 영상 합성 체험,어린이,오프라인,월,25,2023-06-27,1
27,울산시청자미디어센터,미고의 미디어 탐방기,"박민주,안지현",2023-07-11,2023-07-11,애니메이션을 활용한 유아 미디어리터러시 교육,어린이,오프라인,화,25,2023-06-27,1
34,울산시청자미디어센터,초록세상 마법학교,"박민주,김병준",2023-07-19,2023-07-19,크로마키를 활용한 영상 합성 체험,어린이,오프라인,수,25,2023-06-27,1
36,울산시청자미디어센터,초록세상 마법학교,"장미경,안지현",2023-07-20,2023-07-20,크로마키를 활용한 영상 합성 체험,어린이,오프라인,목,25,2023-06-27,1
38,울산시청자미디어센터,초록세상 마법학교,"김은희,공상혁",2023-07-25,2023-07-25,크로마키를 활용한 영상 합성 체험,어린이,오프라인,화,25,2023-06-27,1
40,경기시청자미디어센터,TV뉴스체험,이혜진,2023-07-07,2023-07-07,TV뉴스체험(환경뉴스 고등),고등학생,오프라인,금,20,2023-06-28,1
41,경기시청자미디어센터,TV뉴스체험,미정,2023-07-13,2023-07-13,TV뉴스체험(환경뉴스 고등),고등학생,오프라인,목,15,2023-06-28,1
42,경기시청자미디어센터,애니메이션 더빙체험,임지연,2023-07-13,2023-07-13,애니메이션 더빙체험,고등학생,오프라인,목,15,2023-06-28,1
43,경기시청자미디어센터,TV뉴스체험,미정,2023-07-13,2023-07-13,TV뉴스체험(환경뉴스 중등),중학생,오프라인,목,15,2023-06-28,1
44,경기시청자미디어센터,애니메이션 더빙체험,임지연,2023-07-13,2023-07-13,애니메이션 더빙체험,중학생,오프라인,목,15,2023-06-28,1
59,인천시청자미디어센터,찾아가는 미디어나눔버스(TV뉴스체험),"류은애,김은희",2023-07-07,2023-07-07,TV 뉴스 제작 및 영상합성 크로마키 체험,중학생,오프라인,금,22,2023-07-04,1
60,인천시청자미디어센터,찾아가는 미디어나눔버스(TV뉴스체험),"김은자,이세형",2023-07-11,2023-07-11,TV 뉴스 제작 및 영상합성 크로마키 체험,중학생,오프라인,화,19,2023-07-04,1
62,인천시청자미디어센터,찾아가는 미디어나눔버스(TV뉴스체험),"송선희,이승준",2023-07-13,2023-07-13,TV 뉴스 제작 및 영상합성 크로마키 체험,중학생,오프라인,목,23,2023-07-04,1
65,인천시청자미디어센터,크로마키체험,"김은자,이희주",2023-07-03,2023-07-03,영상합성 크로마키 체험,중학생,오프라인,월,8,2023-07-04,1
66,인천시청자미디어센터,TV뉴스체험,"김은자,이세형",2023-07-04,2023-07-04,TV 뉴스 제작 및 영상합성 크로마키 체험,중학생,오프라인,화,25,2023-07-04,1
67,인천시청자미디어센터,크로마키체험,"송선희,이승준",2023-07-06,2023-07-06,영상합성 크로마키 체험,초등학생,오프라인,목,6,2023-07-04,1
68,인천시청자미디어센터,TV뉴스체험,"이해인,강진경",2023-07-08,2023-07-08,TV 뉴스 제작 및 영상합성 크로마키 체험,고등학생,오프라인,토,16,2023-07-04,1
69,인천시청자미디어센터,라디오체험,"이해인,강진경",2023-07-08,2023-07-08,라디오 프로그램 제작 체험,고등학생,오프라인,토,16,2023-07-04,1
72,충북시청자미디어센터,유아 크로마키 체험,미정,2023-05-02,2023-05-31,유아 대상 크로마키를 통해 다양한 놀이를 해보는 체험,5세이상-7세이하,오프라인,"월,화,수,목,금,토",15,2023-06-29,1
76,강원시청자미디어센터,폴리폴리,미정,2023-06-01,2023-06-30,미디어 속 음향효과 제작체험,초등학생,오프라인,"월,화,수,목,금,토",25,2023-06-30,1
77,강원시청자미디어센터,꼼지락 뉴스,미정,2023-06-01,2023-06-30,일반 대상 뉴스제작 체험,초등학생,오프라인,"월,화,수,목,금,토",25,2023-06-30,1
78,강원시청자미디어센터,무지개 뉴스,미정,2023-06-01,2023-06-30,유아 대상 뉴스 제작 체험,초등학생,오프라인,"월,화,수,목,금,토",25,2023-06-30,1
79,강원시청자미디어센터,무지개 TV,미정,2023-06-01,2023-06-30,유아 대상크로마키 체험,초등학생,오프라인,"월,화,수,목,금,토",25,2023-06-30,1
85,부산시청자미디어센터,찾아가는 미디어나눔버스 체험 교육,박세미,2023-07-04,2023-07-04,이동형 스튜디오 활용 라디오 프로그램 제작 체험,초등학생,오프라인,화,20,2023-06-30,1
86,부산시청자미디어센터,찾아가는 미디어나눔버스 체험 교육,정욱교,2023-07-18,2023-07-18,이동형 스튜디오 활용 라디오 프로그램 제작 체험,중학생,오프라인,화,15,2023-07-04,1
87,부산시청자미디어센터,찾아가는 미디어나눔버스 체험 교육,김은미,2023-07-21,2023-07-21,이동형 스튜디오 활용 라디오 프로그램 제작 체험,중학생,오프라인,금,20,2023-07-04,1
88,서울시청자미디어센터,방산중 미디어체험교육,"황혜정,김도경,김민호",2023-07-03,2023-07-03,"뉴스 체험, 더빙 체험, 스톱모션 체험 교육",중등,오프라인,월,75,2023-07-03,1
90,서울시청자미디어센터,애화학교 찾아가는 미디어 나눔버스,"이수현,이슬기",2023-07-17,2023-07-17,크로마키/ 뉴스 체험 교육,청소년,오프라인,월,미정,2023-07-03,1

In [212]:
df3['강좌정원수'] = df3['강좌정원수'].apply(lambda x: to_int(x))

C:\Users\BIG2-003-008\AppData\Local\Temp\ipykernel_4952\309940885.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['강좌정원수'] = df3['강좌정원수'].apply(lambda x: to_int(x))

In [213]:
df3['강좌정원수'].mean()

20.24390243902439