In [1]:
import pandas as pd

In [3]:
sc = pd.read_csv('./data/전국초중등학교위치표준데이터.csv', encoding='cp949')

In [5]:
el = sc[sc['학교급구분'] == '초등학교']

In [9]:
el.columns

Index(['학교ID', '학교명', '학교급구분', '설립일자', '설립형태', '본교분교구분', '운영상태', '소재지지번주소',
       '소재지도로명주소', '시도교육청코드', '시도교육청명', '교육지원청코드', '교육지원청명', '생성일자', '변경일자',
       '위도', '경도', '데이터기준일자', '제공기관코드', '제공기관명'],
      dtype='object')

In [10]:
el[['학교명', '소재지도로명주소', '위도', '경도']]

            학교명                               소재지도로명주소         위도          경도
0        한울초등학교   경기도 화성시 향남읍 행정중앙1로 25 . 한울초등학교 (향남읍)  37.126961  126.917854
3        초락초등학교             충청남도 당진시 석문면 샛터말길 35 (석문면)  36.993080  126.510472
4        상봉초등학교  충청북도 청주시 흥덕구 오송읍 상봉길 9 . 상봉초등학교 (오송읍)  36.638251  127.286142
5      남원도통초등학교       전라북도 남원시 대교2길 22 (도통동. 남원도통초등학교)  35.413792  127.394758
7        구만초등학교   경상남도 고성군 구만면 영회로 1763 . 구만초등학교 (구만면)  35.088515  128.335541
...         ...                                    ...        ...         ...
11980    온양초등학교              충청남도 아산시 온주길26번길 10 (읍내동)  36.760610  127.018068
11981    동현초등학교         부산광역시 금정구 동현로 36 (부곡동. 동현초등학교)  35.222022  129.092760
11983  대전옥계초등학교        대전광역시 중구 모암로 35 (옥계동. 대전옥계초등학교)  36.301199  127.449039
11984    성덕초등학교       광주광역시 광산구 풍영로 313 . 성덕초등학교 (장덕동)  35.199148  126.814301
11985    이월초등학교    충청북도 진천군 이월면 송림6길 26 . 이월초등학교 (이월면)  36.931076  127.431922

[6318 rows x 4 columns]