In [1]:
# 패키지 불러오기
import pandas as pd
import folium
import json
import requests
import time

In [2]:
# 주소 정보 csv 불러오기 

hb = pd.read_csv('../../../data/스마트해법.csv')
pur = pd.read_csv('../../../data/푸르넷_data.csv')
mira = pd.read_csv('../../../data/미래엔수학_크롤링 결과.csv')

In [3]:
hb.columns = ["지점", "주소", "지번주소"]

In [4]:
hb = hb[['지점', '주소']]
hb

                   지점                                주소
0    스마트해법수학 광명동작관악지사     경기 광명시 하안로 60 광명테크노파크 C동 608호
1     꼼꼼 스마트 해법영어 교습소               서울 영등포구 여의대방로35길 21
2             스마트해법수학                     서울 구로구 새말로 31
3       스마트해법수학 흑석1호점     서울 동작구 서달로14가길 1 동해빌딩 3층 302호
4       스마트해법영어 백운점학원                   경기 의왕시 백운초등길 16
..                ...                               ...
276    스마트해법영어 강샘수학학원                  대전 서구 배재로 176 2층
277        스마트해법수학교습소  전북 전주시 덕진구 무삼지로 8 부영6차아파트 상가동 3층
278         스마트해법영어학원              대구 군위군 군위읍 중앙길 118-1
279     스마트해법수학 조촌캠퍼스             전북 전주시 덕진구 여암2길 31-13
280      스마트해법수학 호성학원                전북 전주시 덕진구 호성3길 20

[281 rows x 2 columns]

In [5]:
pur = pur[['지점', '주소']]
pur['지점'] = pur['지점'].apply(lambda x: '푸르넷 '+x)
pur

           지점                                              주소
0    푸르넷 천호지점                   서울특별시 강동구 양재대로134길 11,2층(명일동)
1    푸르넷 강동지점                  서울특별시 강동구 풍성로 237,5층(둔촌동,신라빌딩)
2    푸르넷 강북지점                     서울특별시 강북구 도봉로 167,803호(미아동)
3    푸르넷 마포지점                   서울특별시 마포구 월드컵로3길 31,402호(합정동)
4    푸르넷 양천지점                     서울특별시 양천구 오목로50길 25,3층(신정동)
..        ...                                             ...
90   푸르넷 정관지점                  부산광역시 기장군 정관읍 정관덕산길 35,4층(방곡리)
91  푸르넷 진부산지점                      부산광역시 동구 조방로26번길 9,3층(범일동)
92  푸르넷 동부산지점                  부산광역시 동래구 석사북로 53,2층(온천동,금강빌딩)
93  푸르넷 서귀포지점  제주특별자치도 서귀포시 일주동로 8544,동인빌딩 6층 금성푸르넷(동홍동,동인빌딩)
94   푸르넷 제주지점                제주특별자치도 제주시 동광로 85,5층(일도이동,장안빌딩)

[95 rows x 2 columns]

In [6]:
mira

                      지점                                주소
0           미래엔수학 한빛직영학원                경기 용인시 수지구 손곡로 107
1                미래엔수학영어               경기 용인시 수지구 광교마을로 91
2            미래엔수학 수내1교실  경기 성남시 분당구 내정로165번길 38 2층 228-2호
3    삼성영어셀레나미래엔수학수지 상현학원             경기 용인시 수지구 만현로67번길 20
4             미래엔목동수학교습소               경기 화성시 동탄순환대로20길 31
..                   ...                               ...
124      한솔플러스 상동교실수학교습소                   대구 수성구 상화로 47-2
125       한솔수학플러스 중흥2차교실                  부산 강서구 명지국제5로 90
126                 한솔수학                경기 안산시 단원구 화랑로 359
127               해법영어교실                     서울 관악구 당곡길 22
128            삼성영어 한얼교실            경기 용인시 기흥구 기흥역로58번길 56

[129 rows x 2 columns]

### 위경도 변경

In [9]:
# https://developers.kakao.com/docs/latest/ko/local/dev-guide
# 카카오 REST API

def get_location(address):
    url = 'https://dapi.kakao.com/v2/local/search/address.json?query=' + address
    headers = {"Authorization": "KakaoAK 키번호"}
    api_json = json.loads(str(requests.get(url,headers=headers).text))
    return api_json

In [10]:
get_location("경기 용인시 기흥구 기흥역로58번길 56")

{'documents': [{'address': {'address_name': '경기 용인시 기흥구 구갈동 663',
    'b_code': '4146310200',
    'h_code': '4146352000',
    'main_address_no': '663',
    'mountain_yn': 'N',
    'region_1depth_name': '경기',
    'region_2depth_name': '용인시 기흥구',
    'region_3depth_h_name': '구갈동',
    'region_3depth_name': '구갈동',
    'sub_address_no': '',
    'x': '127.120450974178',
    'y': '37.2718101606869'},
   'address_name': '경기 용인시 기흥구 기흥역로58번길 56',
   'address_type': 'ROAD_ADDR',
   'road_address': {'address_name': '경기 용인시 기흥구 기흥역로58번길 56',
    'building_name': '기흥역 파크 푸르지오',
    'main_building_no': '56',
    'region_1depth_name': '경기',
    'region_2depth_name': '용인시 기흥구',
    'region_3depth_name': '구갈동',
    'road_name': '기흥역로58번길',
    'sub_building_no': '',
    'underground_yn': 'N',
    'x': '127.120450974178',
    'y': '37.2718101606869',
    'zone_no': '17066'},
   'x': '127.120450974178',
   'y': '37.2718101606869'}],
 'meta': {'is_end': True, 'pageable_count': 1, 'total_count': 1}}

In [11]:
# 위경도 변환 모델

def result_location(data, i):
    api_json = get_location(data['주소'][i])
    if api_json['documents']:
        address = api_json['documents'][0]['address']
        data.loc[i,'x'] = address['x']; 
        data.loc[i,'y'] = address['y']        
    else:
        data.loc[i,'x'], data.loc[i,'y'] = None, None

In [ ]:
# 실행부 - 해법

i = 0
while i<=len(hb['주소'])-1:
    try:
        result_location(hb, i)
        i+=1
    except:
        result_location(i)
        i+=1

In [ ]:
# 실행부 - 푸르넷

i = 0
while i<=len(pur['주소'])-1:
    try:
        result_location(pur, i)
        i+=1
    except:
        result_location(pur, i)
        i+=1

In [ ]:
# 실행부 - 미래엔

i = 0
while i<=len(mira['주소'])-1:
    try:
        result_location(mira, i)
        i+=1
    except:
        result_location(mira, i)
        i+=1