# 7월5일

sub을 이용해서 한글을 지우면 안되는 이유 : ^[가-힣] 을 할경우 맨 왼쪽부터 검사하기때문에 모든 한글이 사라지는게 아니라 맨 왼쪽이랑 같은 글자만 검사 후 같은 것을 삭제한다. <br>
그러므로 한글만 추출할땐 findall을 쓰는게 좋다.

In [ ]:
import re

In [ ]:
# 내가 한 과제

txt ='파이썬오늘은\t문자열을\t배웠고,\t그\t지식을\t이용해서\t문자열\t수정을\t해\t봅시다.\n파이썬'

# 1. 모든 한글만 추출한다
re.findall('[가-힣]+', txt)

txt1 = ''.join(re.findall('[가-힣]+', txt))
print(txt1)

# 2. 콤마(,)를 기준으로 줄바꿈을 해 문자열을 출력한다

txt2 = re.sub(',', '\n', txt)
print(txt2)

txt2 = re.sub(',', '\n', re.sub('\n', '', txt))
print(txt2)

# 3. 파이썬’ 이라는 글자를 지워 txt3 변수에 저장한다
txt3 = re.sub('파이썬', '', txt)
print(txt3)

# 4. 출력 예시와 같이 출력한다
txt4_1 = re.sub(',', '\n', re.sub('\n', '', re.sub('\t', '% ', txt3)))
txt4_2 = re.sub('배웠고', '배웠고,% ', txt4_1)
txt4 = re.sub('% 그', '그', txt4_2)
print(txt4)

## 반복문 (loop)

In [ ]:
for i in range(10) :
    print(i)

range(start, stop, step)
 - start, step은 생략가능
 - start와 stop은 쓸 수 있지만, (step 생략)
 - stop과 step만 쓸 수는 없다. (start 생략)
 - 거꾸로 출력하고 싶다면 step은 -1(음수)로 써준다.

In [ ]:
list(range(0,11))

In [ ]:
range(11)

In [ ]:
list(range(11))

In [ ]:
list(range(0,11)) == list(range(11))

In [ ]:
list(range(5, 80, 3)) # 77+3=80 이지만, 80-1까지 이므로, 80은 출력되지않음

In [ ]:
list(range(10,0,-1))

In [ ]:
# 10, 9.5, 9, ..., 1 이렇게 출력되고 싶다 (0.5 간격) 어떻게 할것인가?
# range는 실수연산이 안됨. 
# list는 나누기 연산이 안됨.

# 해설 : for문을 이용해 출력 후 실수를 나누어주면 된다.

for i in range(100,5,-5) :
    print(i/10)

## 반복문 실습

[프로그램 제작 조건]
+ 숫자 하나를 입력받는다
+ 1부터 입력받은 숫자까지 범위에서 짝수를 출력한다.

[출력예시]
(숫자 6을 입력한 경우) 2 4 6

In [ ]:
num = int(input('숫자 하나를 입력해주세요 : '))

for i in range(1, num+1) : 
    if i % 2 == 0 : 
        print(i, end = ' ')

In [ ]:
# 모범답안

num = int(input('숫자 하나를 입력해주세요 : '))

for i in range(2, num+1, 2) : 
    print(i, end = ' ')

## while 반복문
+ for문과의 차이점 : 정의가 다름(인덱싱 가능한 범위 vs bool 조건)
+ 무한 반복이 가능함
+ continue: 다음 루프로 이동
+ break: 반복문 종료
+ pass: 아무 영향 없음

In [ ]:
i = 0

while i < 10 :
    i +=1
    print(i)

In [ ]:
# 실수로 무한 반복을 할 경우, 정지버튼을 누르고 Kernel > Restart&Clear Output 을 눌러 초기화해준다.

## 반복문 실습

[프로그램 제작 조건]
+ while 반복문을 이용한다.
+ 숫자 하나를 입력받는다.
+ 1부터 입력받은 숫자까지 범위에서 짝수를 출력한다.

[출력예시]
(숫자 6을 입력한 경우) 2 4 6

In [3]:
num = int(input('숫자 하나를 입력해주세요 : '))

i = 0

while i < num :
    i += 2
    print(i, end = ' ')

숫자 하나를 입력해주세요 : 6
2 4 6

In [4]:
# pass가 존재하는 이유

for i in range(10) : 
    pass

# 아무것도 안하고 싶을때. 아무것도 안적으면 에러가 발생하므로
# 조건문에서 pass하고 싶을때도 사용. (잘 사용하진 않음)

## for문 다중 루프
+ for문은 되도록 단독으로만 사용하고, 가끔 이중사용까지 사용. (삼중부터는 사용 X )
+ 이중 루프는 단독으로 웬만해선 사용할 수 있다.

## 다중 루프 실습

+ 아래 데이터를 이용해 예시대로 출력해보자
+ list1 = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [19]:
list1 = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [23]:
# 예시 1

for i in range(3) :
    for j in range(3) : 
        print(list1[i][j], end = ' ')
    print()

1 2 3
4 5 6
7 8 9

In [22]:
# 예시 1

for i in range(len(list1)) :
    for j in range(len(list1)) : 
        print(list1[i][j], end = ' ')
    print()

1 2 3
4 5 6
7 8 9

In [20]:
# 예시 2

for i in range(len(list1)) :
    for j in range(len(list1)) : 
        print(list1[i][j], end = ' ')

1 2 3 4 5 6 7 8 9

In [25]:
# 모범답안 - 예시 1

for i in list1 : 
    for j in i : 
        print(j, end = ' ')
    print()

1 2 3
4 5 6
7 8 9

In [24]:
# 모범답안 - 예시 2

for i in list1 : 
    for j in i : 
        print(j, end = ' ')

1 2 3 4 5 6 7 8 9

## 조건문

In [26]:
x = int(input('숫자'))

숫자999

In [27]:
if x == 999:
    print('일치합니다.')

일치합니다.

In [29]:
if x > 5000:
    print('큽니다.')
elif x == 999:
    print('크지 않고, 해당 숫자는 999입니다.')
else:
    print('크지 않습니다.')

크지 않고, 해당 숫자는 999입니다.

## 과제 

[프로그램 제작 조건]
+ a. 숫자 하나를 입력받는다
+ b. 1부터 입력받은 숫자까지의 범위에서 짝수만 선택한다
+ c. (b)의 숫자 각각 팩토리얼 (!n) 연산 결과를 구해 출력한다

[출력 예시] (숫자 6을 입력한 경우) 2 24 720

In [38]:
num = int(input('숫자 하나를 입력해주세요 : '))

for i in range(1, num+1): 
    if i % 2 == 0 : 
        f = 1
        for j in range(1, i+1):
            f *= j
        print(f, end = ' ')

숫자 하나를 입력해주세요 : 6
2 24 720

## NumPy
+ 파이썬은 매트릭스를 지원하지않음. 그러므로 넘파이 또는 판다스를 사용해줘야함.
+ 파이썬 배열 연산 패키지

In [39]:
import numpy as np

In [40]:
np

In [43]:
x = np.array([1, 2, 3, 4, 5])

In [44]:
x

array([1, 2, 3, 4, 5])

In [45]:
type(x)

numpy.ndarray

In [46]:
x + 1

array([2, 3, 4, 5, 6])

In [47]:
x/2

array([0.5, 1. , 1.5, 2. , 2.5])

### 브로드 캐스팅
+ list는 리스트 연산이 불가하지만, np.array는 연산이 가능하다. >> 브로드 캐스팅
+ 브로드캐스팅 : 연산을 각 요소에 대해서 일괄 수행하게 해준다. 

### 브로드 캐스팅 장점 
+ 속도가 빠르다. (아래의 예시는 간단한 코드라 아니지만, 복잡해질수록 매우매우 빨라진다.)

In [49]:
%%timeit

x+1

521 ns ± 10.7 ns per loop (mean ± std. dev. of 7 runs, 1,000,000 loops each)

In [50]:
%%timeit

for i in [1, 2, 3, 4, 5]:
    i+1

95 ns ± 0.773 ns per loop (mean ± std. dev. of 7 runs, 10,000,000 loops each)

### 행렬
+ 행렬곱은 2가지가 있음 : 성분곱(스칼라곱), 행렬곱(dot 함수 사용)

### 넘파이 인덱싱, 슬라이싱 (★)

In [54]:
list1 = [[1,2,3],[4,5,6],[7,8,9],[0,1,2]]

In [55]:
arr1 = np.array([[1,2,3],
                 [4,5,6],
                 [7,8,9],
                 [0,1,2]])

In [56]:
list1[2][0]

7

In [58]:
arr1[2][0]

7

In [59]:
list1[:-2]

[[1, 2, 3], [4, 5, 6]]

In [61]:
list2 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 0]

In [62]:
list2[1::2]

[2, 4, 6, 8, 0]

In [ ]:
# 나중에 머신러닝 배울때 중간산출물을 저장할때 사용할 수 있음

In [64]:
np.save('file1.npy', arr1)

In [68]:
np.savez('file1.npz', arr1)

In [66]:
np.load('file1.npy')

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9],
       [0, 1, 2]])

In [69]:
np.load('file1.npz')

## 판다스 (Pandas)
+ 표 형식의 데이터 패키지
+ DataFrame, Series
+ 브로드 캐스팅 지원

### 판다스의 연산 (방향 주의!)

In [71]:
import pandas as pd

In [73]:
[1, 2, 3, 4, 5]

[1, 2, 3, 4, 5]

In [72]:
pd.DataFrame([1, 2, 3, 4, 5])

   0
0  1
1  2
2  3
3  4
4  5

In [74]:
pd.DataFrame([[1, 2, 3, 4, 5]])

   0  1  2  3  4
0  1  2  3  4  5

In [75]:
pd.DataFrame([1, 2, 3, 4, 5]).T

   0  1  2  3  4
0  1  2  3  4  5

In [76]:
df = pd.DataFrame([1, 2, 3, 4, 5])

In [77]:
df + 1

   0
0  2
1  3
2  4
3  5
4  6

In [78]:
df = pd.DataFrame([[1,2,3,4,5], [9,8,7,6,5],[2,5,8,9,6]])

In [79]:
df

   0  1  2  3  4
0  1  2  3  4  5
1  9  8  7  6  5
2  2  5  8  9  6

In [86]:
df[1][2] # 찾는 순서가 다르다!

5

In [87]:
df.loc[1,2]

7

In [93]:
df = pd.DataFrame([[1,2,3,4,5], [9,8,7,6,5],[2,5,8,9,6]], columns = ['a', 'b', 'c', 'd', 'e'], index = ['q', 'w', 'e'])

In [94]:
df

   a  b  c  d  e
q  1  2  3  4  5
w  9  8  7  6  5
e  2  5  8  9  6

In [ ]:
# df.loc[1, 2] # 에러발생

columns명과 index명을 변경해주었기때문에 더 이상 숫자로 자리를 찾을 수 없다. <br>
그러므로 바꾼 이름으로 인덱싱해주어야한다. <br>
그러나, 무조건 숫자로 하고 싶을땐? >> iloc

In [97]:
df.loc['q', 'c']

3

In [98]:
df.iloc[1,2]

7

In [101]:
df.loc['q':'e']

   a  b  c  d  e
q  1  2  3  4  5
w  9  8  7  6  5
e  2  5  8  9  6

In [102]:
df.loc[:,'c':'e']

   c  d  e
q  3  4  5
w  7  6  5
e  8  9  6

In [103]:
df.to_csv('file1.csv')

In [105]:
df.to_excel('file1.xlsx')

In [109]:
df = pd.read_csv('file1.csv')

In [110]:
df

  Unnamed: 0  a  b  c  d  e
0          q  1  2  3  4  5
1          w  9  8  7  6  5
2          e  2  5  8  9  6

In [111]:
df = pd.read_csv('file1.csv', index_col = 0)

In [112]:
df

   a  b  c  d  e
q  1  2  3  4  5
w  9  8  7  6  5
e  2  5  8  9  6

In [118]:
df2 = pd.DataFrame([0, 1, 2, 3, 4, 5])

In [119]:
df2.to_excel('file2.xlsx')

In [120]:
df2 = pd.read_excel('file2.xlsx')

In [121]:
df2

   Unnamed: 0  0
0           0  0
1           1  1
2           2  2
3           3  3
4           4  4
5           5  5

In [131]:
df2 = pd.DataFrame([0, 1, 2, 3, 4, 5])

In [132]:
df2.to_excel('file3.xlsx', index=False)

In [133]:
df2 = pd.read_excel('file3.xlsx')

In [134]:
df2

   0
0  0
1  1
2  2
3  3
4  4
5  5

In [135]:
df2.to_csv('data.csv')

In [138]:
df2.to_csv('data.tsv', sep='\t', index=False)

In [139]:
pd.read_csv('data.tsv', sep = '\t')

   0
0  0
1  1
2  2
3  3
4  4
5  5

## 과제

[함수를 사용한 프로그램 만들어보기]

1. 판다스 패키지를 이용한다
2. 각 column별로 (x+1) * 2 연산을 하기
3. 연산 결과는 'calc' column으로 따로 저장하기
4. (오늘 날짜).csv 파일로 내보내기

In [233]:
df = pd.DataFrame([[1,2,3,4,5], [9,8,7,6,5],[2,5,8,9,6]])

In [208]:
df

   0  1  2  3  4
0  1  2  3  4  5
1  9  8  7  6  5
2  2  5  8  9  6

In [209]:
len(df)

3

In [210]:
df.shape[1]

5

In [211]:
for i in range(df.shape[1]): 
    df['calc_{}' .format(i)] = (df[i]+1) * 2

In [212]:
df

   0  1  2  3  4  calc_0  calc_1  calc_2  calc_3  calc_4
0  1  2  3  4  5       4       6       8      10      12
1  9  8  7  6  5      20      18      16      14      12
2  2  5  8  9  6       6      12      18      20      14

In [213]:
df.shape[1]

10

In [214]:
from datetime import datetime

In [215]:
now = datetime.now()

In [216]:
df2.to_csv('{}.csv' .format(now.date()))

In [217]:
df.columns

Index([0, 1, 2, 3, 4, 'calc_0', 'calc_1', 'calc_2', 'calc_3', 'calc_4'], dtype='object')

In [218]:
for i in df.columns:
    print(i)

0
1
2
3
4
calc_0
calc_1
calc_2
calc_3
calc_4

In [229]:
#모범답안

empty_df = pd.DataFrame()

In [230]:
for i in df.columns:
    empty_df['calc'+str(i)] = (df.loc[:,i]+1)*2
    
# 숫자와 문자열은 연산이 안됨을 주의할 것!

In [231]:
empty_df

   calc0  calc1  calc2  calc3  calc4
0      4      6      8     10     12
1     20     18     16     14     12
2      6     12     18     20     14

In [235]:
df = pd.DataFrame([[1,2,3,4,5], [9,8,7,6,5],[2,5,8,9,6]], columns = ['a', 'b', 'c', 'd', 'e'], index = ['q', 'w', 'e'])

In [238]:
df

   a  b  c  d  e
q  1  2  3  4  5
w  9  8  7  6  5
e  2  5  8  9  6

In [236]:
df['a'] + 1

q     2
w    10
e     3
Name: a, dtype: int64

In [239]:
df.loc['q'] + 1

a    2
b    3
c    4
d    5
e    6
Name: q, dtype: int64

## 인플레이스 연산

In [240]:
x = 1

In [241]:
x = x + 1

In [242]:
x

2

In [243]:
x += 1

In [244]:
x

3

In [248]:
df = pd.read_csv('한국전력거래소_시간별 제주 풍력 발전 제어량_20211231.csv', encoding='cp949')

### cp949
+ 인코딩 규격은 utf8을 표준적으로 사용한다. 그러나 한글이나 한자 표현하는데에 있어서 좁다.
+ 그래서 한국어가 채택한 규격은 cp949 규격을 사용한다. 
+ utf9 에러가 발생하면 ? 일단 cp949 > utf16 > ?? 순으로 해보면 된다. (대부분 cp949)

In [249]:
df

,일자,횟수,1시,2시,3시,4시,5시,6시,7시,8시,...,16시,17시,18시,19시,20시,21시,22시,23시,24시,총제어량
0,2021-01-13,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,65.17
1,2021-01-16,2,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,21.75
2,2021-01-18,3,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,46.67
3,2021-01-19,4,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,36.10
4,2021-01-24,5,0,0,0,0,0,0,0,0,...,3,0,0,0,0,0,0,0,0,97.67
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59,2021-10-22,60,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,136.26
60,2021-10-23,61,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,50.60
61,2021-10-31,62,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,37.12
62,2021-11-03,63,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,71.97
63,2021-12-03,64,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,72.05

+ 데이터를 보니, 일자를 인덱스 삼으면 좋겠다.

In [307]:
df = pd.read_csv('한국전력거래소_시간별 제주 풍력 발전 제어량_20211231.csv', encoding='cp949', index_col = '일자')

In [252]:
df.head(3)

,횟수,1시,2시,3시,4시,5시,6시,7시,8시,9시,...,16시,17시,18시,19시,20시,21시,22시,23시,24시,총제어량
일자,,,,,,,,,,,,,,,,,,,,,
2021-01-13,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,65.17
2021-01-16,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,21.75
2021-01-18,3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,46.67

만약, 맨 앞줄에 # 이 파일은 한국전력거래소가 만든 자료입니다. 라고 적혀있다면 <br>


 - header = 1 << 1번째 줄을 헤더로 삼는다.
 - comment = '#' << 메타데이터는 코멘트 옵션. 코멘트가 몇 줄인지 모를때 사용

In [253]:
df.tail()

,횟수,1시,2시,3시,4시,5시,6시,7시,8시,9시,...,16시,17시,18시,19시,20시,21시,22시,23시,24시,총제어량
일자,,,,,,,,,,,,,,,,,,,,,
2021-10-22,60,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,136.26
2021-10-23,61,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,50.60
2021-10-31,62,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,37.12
2021-11-03,63,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,71.97
2021-12-03,64,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,72.05

In [254]:
df.columns

Index(['횟수', '1시', '2시', '3시', '4시', '5시', '6시', '7시', '8시', '9시', '10시',
       '11시', '12시', '13시', '14시', '15시', '16시', '17시', '18시', '19시', '20시',
       '21시', '22시', '23시', '24시', '총제어량'],
      dtype='object')

In [255]:
df.index

Index(['2021-01-13', '2021-01-16', '2021-01-18', '2021-01-19', '2021-01-24',
       '2021-01-27', '2021-01-28', '2021-01-29', '2021-01-31', '2021-02-02',
       '2021-02-04', '2021-02-08', '2021-02-09', '2021-02-13', '2021-02-15',
       '2021-02-20', '2021-02-21', '2021-02-22', '2021-02-23', '2021-03-02',
       '2021-03-14', '2021-03-15', '2021-03-16', '2021-03-17', '2021-03-21',
       '2021-03-22', '2021-03-23', '2021-03-26', '2021-03-28', '2021-03-30',
       '2021-04-04', '2021-04-05', '2021-04-06', '2021-04-07', '2021-04-08',
       '2021-04-10', '2021-04-11', '2021-04-13', '2021-04-14', '2021-04-17',
       '2021-04-18', '2021-04-19', '2021-04-23', '2021-04-25', '2021-04-26',
       '2021-04-30', '2021-05-01', '2021-05-02', '2021-05-05', '2021-05-08',
       '2021-05-12', '2021-05-21', '2021-05-25', '2021-05-27', '2021-05-30',
       '2021-10-03', '2021-10-17', '2021-10-19', '2021-10-21', '2021-10-22',
       '2021-10-23', '2021-10-31', '2021-11-03', '2021-12-03'],
      dtype='object', name='일자')

In [256]:
df.columns = ['횟수', '한시', '2시', '3시', '4시', '5시', '6시', '7시', '8시', '9시', '10시',
       '11시', '12시', '13시', '14시', '15시', '16시', '17시', '18시', '19시', '20시',
       '21시', '22시', '23시', '24시', '총제어량']

# index도 마찬가지

In [259]:
df.head(1)

,횟수,한시,2시,3시,4시,5시,6시,7시,8시,9시,...,16시,17시,18시,19시,20시,21시,22시,23시,24시,총제어량
일자,,,,,,,,,,,,,,,,,,,,,
2021-01-13,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,65.17

In [308]:
df['계산한 총제어량'] = 0

In [261]:
df.head(1)

,횟수,한시,2시,3시,4시,5시,6시,7시,8시,9시,...,17시,18시,19시,20시,21시,22시,23시,24시,총제어량,계산한 총제어량
일자,,,,,,,,,,,,,,,,,,,,,
2021-01-13,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,65.17,0

In [309]:
for i in df.index:
    df['계산한 총제어량'][i] = pd.DataFrame(df.loc[str(i)][1:-2]).sum()

C:\Users\TEMP\AppData\Local\Temp\ipykernel_16740\4098379754.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['계산한 총제어량'][i] = pd.DataFrame(df.loc[str(i)][1:-2]).sum()
C:\Users\TEMP\AppData\Local\Temp\ipykernel_16740\4098379754.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['계산한 총제어량'][i] = pd.DataFrame(df.loc[str(i)][1:-2]).sum()
C:\Users\TEMP\AppData\Local\Temp\ipykernel_16740\4098379754.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['계산한 총제어량'][i] = pd.DataFrame(df.loc[str(i)][1:-2]).sum()
C:\Users\TEMP\AppData\Local\Temp\ipykernel_16740\4098379754.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['계산한 총제어량'][i] = pd.DataFrame(df.loc[str(i)][1:-2]).sum()
C:\Users\TEMP\AppData\Local\Temp\ipykernel_16740\4098379754.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['계산한 총제어량'][i] = pd.DataFrame(df.loc[str(i)][1:-2]).sum()
C:\Users\TEMP\AppData\Local\Temp\ipykernel_16740\4098379754.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['계산한 총제어량'][i] = pd.DataFrame(df.loc[str(i)][1:-2]).sum()
C:\Users\TEMP\AppData\Local\Temp\ipykernel_16740\4098379754.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['계산한 총제어량'][i] = pd.DataFrame(df.loc[str(i)][1:-2]).sum()
C:\Users\TEMP\AppData\Local\Temp\ipykernel_16740\4098379754.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['계산한 총제어량'][i] = pd.DataFrame(df.loc[str(i)][1:-2]).sum()
C:\Users\TEMP\AppData\Local\Temp\ipykernel_16740\4098379754.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['계산한 총제어량'][i] = pd.DataFrame(df.loc[str(i)][1:-2]).sum()
C:\Users\TEMP\AppData\Local\Temp\ipykernel_16740\4098379754.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['계산한 총제어량'][i] = pd.DataFrame(df.loc[str(i)][1:-2]).sum()
C:\Users\TEMP\AppData\Local\Temp\ipykernel_16740\4098379754.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['계산한 총제어량'][i] = pd.DataFrame(df.loc[str(i)][1:-2]).sum()
C:\Users\TEMP\AppData\Local\Temp\ipykernel_16740\4098379754.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['계산한 총제어량'][i] = pd.DataFrame(df.loc[str(i)][1:-2]).sum()
C:\Users\TEMP\AppData\Local\Temp\ipykernel_16740\4098379754.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['계산한 총제어량'][i] = pd.DataFrame(df.loc[str(i)][1:-2]).sum()
C:\Users\TEMP\AppData\Local\Temp\ipykernel_16740\4098379754.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['계산한 총제어량'][i] = pd.DataFrame(df.loc[str(i)][1:-2]).sum()
C:\Users\TEMP\AppData\Local\Temp\ipykernel_16740\4098379754.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['계산한 총제어량'][i] = pd.DataFrame(df.loc[str(i)][1:-2]).sum()
C:\Users\TEMP\AppData\Local\Temp\ipykernel_16740\4098379754.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['계산한 총제어량'][i] = pd.DataFrame(df.loc[str(i)][1:-2]).sum()
C:\Users\TEMP\AppData\Local\Temp\ipykernel_16740\4098379754.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['계산한 총제어량'][i] = pd.DataFrame(df.loc[str(i)][1:-2]).sum()
C:\Users\TEMP\AppData\Local\Temp\ipykernel_16740\4098379754.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['계산한 총제어량'][i] = pd.DataFrame(df.loc[str(i)][1:-2]).sum()
C:\Users\TEMP\AppData\Local\Temp\ipykernel_16740\4098379754.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['계산한 총제어량'][i] = pd.DataFrame(df.loc[str(i)][1:-2]).sum()
C:\Users\TEMP\AppData\Local\Temp\ipykernel_16740\4098379754.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['계산한 총제어량'][i] = pd.DataFrame(df.loc[str(i)][1:-2]).sum()
C:\Users\TEMP\AppData\Local\Temp\ipykernel_16740\4098379754.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['계산한 총제어량'][i] = pd.DataFrame(df.loc[str(i)][1:-2]).sum()
C:\Users\TEMP\AppData\Local\Temp\ipykernel_16740\4098379754.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['계산한 총제어량'][i] = pd.DataFrame(df.loc[str(i)][1:-2]).sum()
C:\Users\TEMP\AppData\Local\Temp\ipykernel_16740\4098379754.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['계산한 총제어량'][i] = pd.DataFrame(df.loc[str(i)][1:-2]).sum()
C:\Users\TEMP\AppData\Local\Temp\ipykernel_16740\4098379754.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['계산한 총제어량'][i] = pd.DataFrame(df.loc[str(i)][1:-2]).sum()
C:\Users\TEMP\AppData\Local\Temp\ipykernel_16740\4098379754.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['계산한 총제어량'][i] = pd.DataFrame(df.loc[str(i)][1:-2]).sum()
C:\Users\TEMP\AppData\Local\Temp\ipykernel_16740\4098379754.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['계산한 총제어량'][i] = pd.DataFrame(df.loc[str(i)][1:-2]).sum()
C:\Users\TEMP\AppData\Local\Temp\ipykernel_16740\4098379754.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['계산한 총제어량'][i] = pd.DataFrame(df.loc[str(i)][1:-2]).sum()
C:\Users\TEMP\AppData\Local\Temp\ipykernel_16740\4098379754.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['계산한 총제어량'][i] = pd.DataFrame(df.loc[str(i)][1:-2]).sum()
C:\Users\TEMP\AppData\Local\Temp\ipykernel_16740\4098379754.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['계산한 총제어량'][i] = pd.DataFrame(df.loc[str(i)][1:-2]).sum()
C:\Users\TEMP\AppData\Local\Temp\ipykernel_16740\4098379754.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['계산한 총제어량'][i] = pd.DataFrame(df.loc[str(i)][1:-2]).sum()
C:\Users\TEMP\AppData\Local\Temp\ipykernel_16740\4098379754.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['계산한 총제어량'][i] = pd.DataFrame(df.loc[str(i)][1:-2]).sum()
C:\Users\TEMP\AppData\Local\Temp\ipykernel_16740\4098379754.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['계산한 총제어량'][i] = pd.DataFrame(df.loc[str(i)][1:-2]).sum()
C:\Users\TEMP\AppData\Local\Temp\ipykernel_16740\4098379754.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['계산한 총제어량'][i] = pd.DataFrame(df.loc[str(i)][1:-2]).sum()
C:\Users\TEMP\AppData\Local\Temp\ipykernel_16740\4098379754.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['계산한 총제어량'][i] = pd.DataFrame(df.loc[str(i)][1:-2]).sum()
C:\Users\TEMP\AppData\Local\Temp\ipykernel_16740\4098379754.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['계산한 총제어량'][i] = pd.DataFrame(df.loc[str(i)][1:-2]).sum()
C:\Users\TEMP\AppData\Local\Temp\ipykernel_16740\4098379754.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['계산한 총제어량'][i] = pd.DataFrame(df.loc[str(i)][1:-2]).sum()
C:\Users\TEMP\AppData\Local\Temp\ipykernel_16740\4098379754.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['계산한 총제어량'][i] = pd.DataFrame(df.loc[str(i)][1:-2]).sum()
C:\Users\TEMP\AppData\Local\Temp\ipykernel_16740\4098379754.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['계산한 총제어량'][i] = pd.DataFrame(df.loc[str(i)][1:-2]).sum()
C:\Users\TEMP\AppData\Local\Temp\ipykernel_16740\4098379754.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['계산한 총제어량'][i] = pd.DataFrame(df.loc[str(i)][1:-2]).sum()
C:\Users\TEMP\AppData\Local\Temp\ipykernel_16740\4098379754.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['계산한 총제어량'][i] = pd.DataFrame(df.loc[str(i)][1:-2]).sum()
C:\Users\TEMP\AppData\Local\Temp\ipykernel_16740\4098379754.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['계산한 총제어량'][i] = pd.DataFrame(df.loc[str(i)][1:-2]).sum()
C:\Users\TEMP\AppData\Local\Temp\ipykernel_16740\4098379754.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['계산한 총제어량'][i] = pd.DataFrame(df.loc[str(i)][1:-2]).sum()
C:\Users\TEMP\AppData\Local\Temp\ipykernel_16740\4098379754.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['계산한 총제어량'][i] = pd.DataFrame(df.loc[str(i)][1:-2]).sum()
C:\Users\TEMP\AppData\Local\Temp\ipykernel_16740\4098379754.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['계산한 총제어량'][i] = pd.DataFrame(df.loc[str(i)][1:-2]).sum()
C:\Users\TEMP\AppData\Local\Temp\ipykernel_16740\4098379754.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['계산한 총제어량'][i] = pd.DataFrame(df.loc[str(i)][1:-2]).sum()
C:\Users\TEMP\AppData\Local\Temp\ipykernel_16740\4098379754.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['계산한 총제어량'][i] = pd.DataFrame(df.loc[str(i)][1:-2]).sum()
C:\Users\TEMP\AppData\Local\Temp\ipykernel_16740\4098379754.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['계산한 총제어량'][i] = pd.DataFrame(df.loc[str(i)][1:-2]).sum()
C:\Users\TEMP\AppData\Local\Temp\ipykernel_16740\4098379754.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['계산한 총제어량'][i] = pd.DataFrame(df.loc[str(i)][1:-2]).sum()
C:\Users\TEMP\AppData\Local\Temp\ipykernel_16740\4098379754.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['계산한 총제어량'][i] = pd.DataFrame(df.loc[str(i)][1:-2]).sum()
C:\Users\TEMP\AppData\Local\Temp\ipykernel_16740\4098379754.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['계산한 총제어량'][i] = pd.DataFrame(df.loc[str(i)][1:-2]).sum()
C:\Users\TEMP\AppData\Local\Temp\ipykernel_16740\4098379754.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['계산한 총제어량'][i] = pd.DataFrame(df.loc[str(i)][1:-2]).sum()
C:\Users\TEMP\AppData\Local\Temp\ipykernel_16740\4098379754.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['계산한 총제어량'][i] = pd.DataFrame(df.loc[str(i)][1:-2]).sum()
C:\Users\TEMP\AppData\Local\Temp\ipykernel_16740\4098379754.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['계산한 총제어량'][i] = pd.DataFrame(df.loc[str(i)][1:-2]).sum()
C:\Users\TEMP\AppData\Local\Temp\ipykernel_16740\4098379754.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['계산한 총제어량'][i] = pd.DataFrame(df.loc[str(i)][1:-2]).sum()
C:\Users\TEMP\AppData\Local\Temp\ipykernel_16740\4098379754.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['계산한 총제어량'][i] = pd.DataFrame(df.loc[str(i)][1:-2]).sum()
C:\Users\TEMP\AppData\Local\Temp\ipykernel_16740\4098379754.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame


In [310]:
df

,횟수,1시,2시,3시,4시,5시,6시,7시,8시,9시,...,17시,18시,19시,20시,21시,22시,23시,24시,총제어량,계산한 총제어량
일자,,,,,,,,,,,,,,,,,,,,,
2021-01-13,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,65.17,65.0
2021-01-16,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,21.75,22.0
2021-01-18,3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,46.67,46.0
2021-01-19,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,36.10,36.0
2021-01-24,5,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,97.67,98.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-10-22,60,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,136.26,135.0
2021-10-23,61,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,50.60,51.0
2021-10-31,62,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,37.12,37.0
2021-11-03,63,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,71.97,72.0
2021-12-03,64,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,72.05,72.0

## for문을 쓰지 않고 브로드캐스팅으로 문제 해결

In [311]:
df_new = pd.read_csv('한국전력거래소_시간별 제주 풍력 발전 제어량_20211231.csv', encoding='cp949', index_col = '일자')

In [313]:
df_new.head(1)

,횟수,1시,2시,3시,4시,5시,6시,7시,8시,9시,...,16시,17시,18시,19시,20시,21시,22시,23시,24시,총제어량
일자,,,,,,,,,,,,,,,,,,,,,
2021-01-13,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,65.17

In [314]:
df_new['계산한 총제어량'] = 0

In [330]:
df_new['계산한 총제어량'] = df.loc[:, '1시':'24시'].sum(axis=1)

In [331]:
df_new

,횟수,1시,2시,3시,4시,5시,6시,7시,8시,9시,...,17시,18시,19시,20시,21시,22시,23시,24시,총제어량,계산한 총제어량
일자,,,,,,,,,,,,,,,,,,,,,
2021-01-13,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,65.17,65.0
2021-01-16,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,21.75,22.0
2021-01-18,3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,46.67,46.0
2021-01-19,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,36.10,36.0
2021-01-24,5,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,97.67,98.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-10-22,60,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,136.26,135.0
2021-10-23,61,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,50.60,51.0
2021-10-31,62,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,37.12,37.0
2021-11-03,63,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,71.97,72.0
2021-12-03,64,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,72.05,72.0