In [ ]:
# 적절한 그래프를 사용하는 법
# https://seaborn.pydata.org/examples/index.html 등에서 예제를 보며 그래프를 분석해보는 연습이 필요하다
# 딱봐도 알수있도록 만들어졌을테니 어떤 그래프를 사용했는지 왜 사용했는지를 분석해보면 적절한 그래프를 사용하는 감각이 길러질 것이다

# 예시
# 꺾은선 그래프 (선 그래프)
## 이어지기때문에 추세를 보여주기 좋다

# 파이 차트
## 전체에서 얼마나 많은 파이(면적)를 차지하고 있는지를 보여주기 좋다

# 페어드 그래프 (막대그래프가 두개가 옆으로 그룹별로 있는 형태)
## 비율 차이를 그룹별로 보여주기 좋다

In [1]:
import pandas as pd

import matplotlib.pyplot as plt
plt.rcParams['font.family'] = 'Malgun Gothic'

import matplotlib as mpl
mpl.rcParams['axes.unicode_minus'] = False

%matplotlib inline

import seaborn as sns
import numpy as np
from scipy import stats

from dash import Dash, html, dcc, Input, Output, callback, dash_table
import pandas as pd
import plotly.express as px

In [2]:
# 데이터 불러오기 

# https://www.kaggle.com/datasets/iamsouravbanerjee/data-science-salaries-2023?resource=download

In [2]:
# Latest Data Science Salaries

df = pd.read_csv('../../data/Latest_Data_Science_Salaries.csv')

In [3]:
df

,Job Title,Employment Type,Experience Level,Expertise Level,Salary,Salary Currency,Company Location,Salary in USD,Employee Residence,Company Size,Year
0,Data Engineer,Full-Time,Senior,Expert,210000,United States Dollar,United States,210000,United States,Medium,2023
1,Data Engineer,Full-Time,Senior,Expert,165000,United States Dollar,United States,165000,United States,Medium,2023
2,Data Engineer,Full-Time,Senior,Expert,185900,United States Dollar,United States,185900,United States,Medium,2023
3,Data Engineer,Full-Time,Senior,Expert,129300,United States Dollar,United States,129300,United States,Medium,2023
4,Data Scientist,Full-Time,Senior,Expert,140000,United States Dollar,United States,140000,United States,Medium,2023
...,...,...,...,...,...,...,...,...,...,...,...
3295,Data Scientist,Full-Time,Senior,Expert,412000,United States Dollar,United States,412000,United States,Large,2020
3296,Principal Data Scientist,Full-Time,Mid,Intermediate,151000,United States Dollar,United States,151000,United States,Large,2021
3297,Data Scientist,Full-Time,Entry,Junior,105000,United States Dollar,United States,105000,United States,Small,2020
3298,Business Data Analyst,Contract,Entry,Junior,100000,United States Dollar,United States,100000,United States,Large,2020
3299,Data Science Manager,Full-Time,Senior,Expert,7000000,Indian Rupee,India,94665,India,Large,2021

### 데이터 설명
* 2020년부터 2023년까지의 데이터과학자 급여 데이터 

* Job Title : 직업
    - Data Engineer(21%),Data Scientist(19%), 그외
* Employment Type : 근무형태
    - Full-Time 99%
* Experience Level : 경력 수준 
    - Senior 63%, Mid 24%, 그외
* Expertise Level : 지식 수준 
    - Expert 63%, Intermediate 24%, 그외
* Salary : 급여
* Salary Currency : 급여 단위 (통화)
* Company Location : 회사 위치
* Salary in USD : USD 단위 통일 급여 
* Employee Residence : 회사 규모 
* Year : 연도. 2020 ~ 2023

In [ ]:
# 데이터 전처리
# 해당 파일은 대시보드 연습을 위한 것이므로 전처리보단 데이터 확인 후 대시보드 제작

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3300 entries, 0 to 3299
Data columns (total 11 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Job Title           3300 non-null   object
 1   Employment Type     3300 non-null   object
 2   Experience Level    3300 non-null   object
 3   Expertise Level     3300 non-null   object
 4   Salary              3300 non-null   int64
 5   Salary Currency     3300 non-null   object
 6   Company Location    3300 non-null   object
 7   Salary in USD       3300 non-null   int64
 8   Employee Residence  3300 non-null   object
 9   Company Size        3300 non-null   object
 10  Year                3300 non-null   int64
dtypes: int64(3), object(8)
memory usage: 283.7+ KB

In [5]:
df.isnull().sum() # 결측값 없음

Job Title             0
Employment Type       0
Experience Level      0
Expertise Level       0
Salary                0
Salary Currency       0
Company Location      0
Salary in USD         0
Employee Residence    0
Company Size          0
Year                  0
dtype: int64

In [6]:
df['Company Location'].unique()

array(['United States', 'United Kingdom', 'Germany', 'Sweden', 'India',
       'Korea, Republic of', 'Spain', 'Estonia', 'France', 'Philippines',
       'Canada', 'Australia', 'Turkey', 'Portugal', 'Brazil',
       'Switzerland', 'Andorra', 'Netherlands', 'Ecuador', 'Mexico',
       'Israel', 'Nigeria', 'Saudi Arabia', 'Colombia', 'Poland',
       'Norway', 'Ghana', 'Argentina', 'Japan', 'Russian Federation',
       'South Africa', 'Italy', 'Hong Kong', 'Central African Republic',
       'Finland', 'Ukraine', 'Ireland', 'Singapore', 'Slovenia',
       'Thailand', 'Croatia', 'Armenia', 'Bosnia and Herzegovina',
       'Kenya', 'Latvia', 'Romania', 'Pakistan', 'Lithuania',
       'Iran, Islamic Republic of', 'Bahamas', 'Hungary', 'Austria',
       'Puerto Rico', 'American Samoa', 'Greece', 'Denmark', 'Belgium',
       'Indonesia', 'Egypt', 'United Arab Emirates', 'Malaysia',
       'Honduras', 'Czechia', 'Algeria', 'Iraq', 'China', 'New Zealand',
       'Chile', 'Moldova, Republic of', 'Luxembourg', 'Malta'],
      dtype=object)

In [7]:
df['Company Size'].unique()

array(['Medium', 'Large', 'Small'], dtype=object)

In [ ]:
# 대시보드 틀 

app = Dash(__name__)

# 구역1
app.layout = html.Div([
    # 구역2
    html.Div([
        
    ]),
    
    html.Div([
        
    ])
])

@callback(
    Output(),
    Input()
)

def update_graph(value):
    dff = 
    fig = 
    return fig

if __name__ == '__main__':
    app.run(debug=True)

In [9]:
# 기본 그래프 1개만 출력

In [10]:
# Dropdown : 목록. 기준. 
# 회사 규모에 따라 직업별 평균 급여

In [9]:
# 히스토그램 1개 출력 

app = Dash(__name__)

# html.Div : 구역 나누기 
app.layout = html.Div([
    html.H1(children = '제목', style = {'textAlign':'center'}), # 제목 입력
    dcc.Dropdown(df['Job Title'].unique(), 'Data Engineer', id = 'dropdown-selection'),
    # 목록에 띄울 기준의 카테고리, 그 중 처음에 보여줄 것, id 지정 
    dcc.Graph(id = 'graph')
    # 그래프 id 지정 
])

@callback(
    Output('graph', 'figure'),
    Input('dropdown-selection', 'value')
)

def update_graph(value):
    dff = df[df['Job Title'] == value]
    fig = px.histogram(dff, x='Company Size', y='Salary in USD', histfunc='avg') # 히스토그램 
    return fig

if __name__ == '__main__':
    app.run(debug=True)

In [12]:
# 그래프 아래에 표

In [11]:
# 보여줄 테이블 선택
# 전체 테이블을 보여줄 필요없이 깔끔하게 정리된 테이블을 보여주기로 함 

# 우선 원하는 columns만 인덱싱

df2 = df[['Job Title', 'Company Size', 'Salary in USD']]
df2

                     Job Title Company Size  Salary in USD
0                Data Engineer       Medium         210000
1                Data Engineer       Medium         165000
2                Data Engineer       Medium         185900
3                Data Engineer       Medium         129300
4               Data Scientist       Medium         140000
...                        ...          ...            ...
3295            Data Scientist        Large         412000
3296  Principal Data Scientist        Large         151000
3297            Data Scientist        Small         105000
3298     Business Data Analyst        Large         100000
3299      Data Science Manager        Large          94665

[3300 rows x 3 columns]

In [12]:
app = Dash(__name__)

# html.Div : 구역 나누기 
app.layout = html.Div([
    html.H1(children = '회사 규모별 급여 차이', style = {'textAlign':'center'}), # 제목 입력
    dcc.Dropdown(df['Job Title'].unique(), 'Data Engineer', id = 'dropdown-selection'),
    # 목록에 띄울 기준의 카테고리, 그 중 처음에 보여줄 것, id 지정 
    dcc.Graph(id = 'graph'),
    # 그래프 id 지정 
    dash_table.DataTable(data = df2.to_dict('records'), page_size=5)
    # 그래프 아래 테이블 추가 
    # page_size : 한페이지에 몇 줄을 보여줄 것인가
])

@callback(
    Output('graph', 'figure'),
    Input('dropdown-selection', 'value')
)

def update_graph(value):
    dff = df[df['Job Title'] == value]
    fig = px.histogram(dff, x='Company Size', y='Salary in USD', histfunc='avg')
    return fig

if __name__ == '__main__':
    app.run(debug=True)

In [13]:
# 표-그래프 

# css 
# className 변경없이 그대로 맞춰야 해당 모양이 나옴 
# className을 사용하지 않을경우 위아래로 출력됨 

external_stylesheets = ['https://codepen.io/chriddyp/pen/bWLwgP.css']
app = Dash(__name__, external_stylesheets=external_stylesheets)

# app = Dash(__name__)

# 구역 1
app.layout = html.Div([
    html.H3(children = '직업별 급여', style = {'textAlign':'center'}), # 제목 입력
    # 구역 2-1
    html.Div(className='row', children=[ 
        dcc.RadioItems(options=df['Company Size'].unique(),
                      value='Medium',
                      inline=True, # RadioItems 한줄로 출력. 
                      id = 'radio-buttons')
    ]),
    
    # 구역 2-2
    html.Div([
        #구역 3-1
        html.Div(className='six columns', children=[
            dash_table.DataTable(data = df2.to_dict('records'), page_size=10)
        ], style={'width': '26%', 'float': 'left', 'display': 'inline-block'}), # 가로 사이즈를 25%로 조정 
        
        #구역 3-2
        html.Div(className='six columns', children=[
            dcc.Graph(figure={}, id = 'graph')
        ], style={'width': '66%', 'float': 'right', 'display': 'inline-block'}) # 가로 사이즈를 65%로 조정 
        # 구역 3-1과 구역 3-2 가로 비율의 합이 100%면 사이즈가 좁아서 위아래 배치가 된다 
    ])
])

@callback(
    Output('graph', 'figure'),
    Input('radio-buttons', 'value')
)

def update_graph(value):
    dff = df[df['Company Size'] == value]
    fig = px.histogram(dff, x='Job Title', y='Salary in USD', histfunc='avg')
    return fig

if __name__ == '__main__':
    app.run(debug=True)

In [53]:
# 그래프-그래프

external_stylesheets = ['https://codepen.io/chriddyp/pen/bWLwgP.css']
app = Dash(__name__, external_stylesheets=external_stylesheets)

# 구역1
app.layout = html.Div([
    # 구역2
    # H가 아니라 구역 설정 후 제목을 입력할 수도 있다 
    html.Div(className='row', children='Experience와 Expertise에 따른 급여', 
             style={'textAlign': 'center', 'color': 'darkred', 'fontSize': 30}),
    
    html.Div([
        dcc.Dropdown(df['Job Title'].unique(), 'Data Engineer', id = 'dropdown-selection'),
    ]),
    
    html.Div([
        html.Div([
            dcc.Graph(figure={}, id='graph-1')
        ], style={'width': '49%', 'float': 'left', 'display': 'inline-block'}),
        html.Div([
            dcc.Graph(figure={}, id='graph-2')
        ], style={'width': '49%', 'float': 'right', 'display': 'inline-block'})
    ])
])

@callback(
    Output(component_id='graph-1', component_property='figure'),
    Input(component_id='dropdown-selection', component_property='value')
)

def update_graph(value):
    dff = df[df['Job Title'] == value]
    fig = px.histogram(dff, x='Experience Level', y='Salary in USD')
    return fig

@callback(
    Output(component_id='graph-2', component_property='figure'),
    Input(component_id='dropdown-selection', component_property='value')
)

def update_graph2(value):
    dff = df[df['Job Title'] == value]
    fig = px.histogram(dff, x='Expertise Level', y='Salary in USD')
    return fig

if __name__ == '__main__':
    app.run(debug=True)

In [60]:
df2 = pd.read_csv('https://plotly.github.io/datasets/country_indicators.csv')
df2.head()

,Country Name,Indicator Name,Year,Value
0,Arab World,"Agriculture, value added (% of GDP)",1962,NaN
1,Arab World,CO2 emissions (metric tons per capita),1962,0.760996
2,Arab World,Domestic credit provided by financial sector (...,1962,18.168690
3,Arab World,Electric power consumption (kWh per capita),1962,NaN
4,Arab World,Energy use (kg of oil equivalent per capita),1962,NaN

In [61]:
df.head()

,Job Title,Employment Type,Experience Level,Expertise Level,Salary,Salary Currency,Company Location,Salary in USD,Employee Residence,Company Size,Year
0,Data Engineer,Full-Time,Senior,Expert,210000,United States Dollar,United States,210000,United States,Medium,2023
1,Data Engineer,Full-Time,Senior,Expert,165000,United States Dollar,United States,165000,United States,Medium,2023
2,Data Engineer,Full-Time,Senior,Expert,185900,United States Dollar,United States,185900,United States,Medium,2023
3,Data Engineer,Full-Time,Senior,Expert,129300,United States Dollar,United States,129300,United States,Medium,2023
4,Data Scientist,Full-Time,Senior,Expert,140000,United States Dollar,United States,140000,United States,Medium,2023

In [ ]:
# 그래프 3개 
# 그래프-그래프
# 그래프-슬라이더
# 슬라이더는 바로위의 그래프에만 영향을 줌 

external_stylesheets = ['https://codepen.io/chriddyp/pen/bWLwgP.css']
app = Dash(__name__, external_stylesheets=external_stylesheets)

app.layout = html.Div([
    # Dropdown
    html.Div([
        # 왼쪽 Dropdown
        html.Div([
            dcc.Dropdown(
                df['Job Title'].unique(),
                'Data Engineer',
                id = 'dropdown-engineer',
            )
        ], style={'width': '49%', 'display': 'inline-block'}),
        
        # 오른쪽 Dropdown
        html.Div([
            dcc.Dropdown(
                df['Job Title'].unique(),
                'Data Scientist',
                id = 'dropdown-scientist',
            )
        ], style={'width': '49%', 'display': 'inline-block'})
    ], style={'padding': '10px 5px'}),
    
    # 그래프 
    html.Div([
        dcc.Graph(id = 'graph-1'),
        dcc.Graph(id = 'graph-2')
    ], style={'width': '49%', 'display': 'inline-block'})
])

@callback(
    Output(id = 'graph-1', 'figure'),
    Input(id = 'dropdown-engineer', 'value'))
def update_Graph-1(value):
    return

@callback(
    Output(id = 'graph-2', 'figure'),
    Input(id = 'dropdown-engineer', 'value'))
def update_Graph-1(value):
    return

if __name__ == '__main__':
    app.run(debug=True)

In [ ]:
# 그래프
# 표

In [ ]:
# 꺾은선 그래프 2개
# 표

# 긍정적인 지표는 빨간색, 부정적인 지표는 파란색으로 표현한다 (색 구분 중요)
# 그리고 시계열 추세를 보여줄거면 꺾은선 그래프가 좋지만, 비율 차이를 보여주고 싶다면 다른 그래프를 사용해야한다
# 보여주고 싶은 것에 따라 적절한 그래프를 사용하는 것은 정말 중요하다

In [52]:
external_stylesheets = ['https://codepen.io/chriddyp/pen/bWLwgP.css']
app = Dash(__name__, external_stylesheets=external_stylesheets)

app.layout = html.Div([
    html.Div(className='row', children='전문상담교사수와 학업중단자',
             style={'textAlign': 'center', 'color': 'blue', 'fontSize': 30}),

    html.Div(className='row', children=[
        dcc.Dropdown(df_graph['시도'].unique(), '서울', id='dropdown-selection'), 
        # 그래프는 시도를 기준으로 Dropdown하여 보여줌
        # 서울을 먼저 보여줌
        dcc.Graph(figure={}, id='graph-content')     
    ]),dash_table.DataTable(data=df_table.to_dict('records'), page_size=10) 
    # 테이블은 업데이트하지 않고 한번에 전체 시도의 비율을 출력
])

@callback(
    Output(component_id='graph-content', component_property='figure'),
    Input(component_id='dropdown-selection', component_property='value')
)

def update_graph1(value):
    dff = df_graph[df_graph['시도']==value]
    return px.line(dff, x="연도", y="비율값",color='기준', symbol='기준') 
    # 학업중단자와 교사수의 색을 다르게 하여 한번에 출력

if __name__ == '__main__':
    app.run(debug=True)

NameError: name 'df_graph' is not defined

In [51]:
from dash import Dash, dcc, html, Input, Output
import plotly.express as px

app = Dash(__name__)


app.layout = html.Div([
    html.H4('Restaurant tips by day of week'),
    dcc.Dropdown(
        id="dropdown",
        options=["Fri", "Sat", "Sun"],
        value="Fri",
        clearable=False,
    ),
    dcc.Graph(id="graph"),
])


@app.callback(
    Output("graph", "figure"), 
    Input("dropdown", "value"))
def update_bar_chart(day):
    df = px.data.tips() # replace with your own data source
    mask = df["day"] == day
    fig = px.bar(df[mask], x="sex", y="total_bill", 
                 color="smoker", barmode="group")
    return fig


app.run_server(debug=True)