# 7월 6일

## 함수

+ 어떻게 코드를 이쁘게 짤까 고민보다는 어떻게 입력을 덜할까 고민할 것 (손이 개입을 덜해야 오류 발생 확률이 적음)

In [ ]:
# 함수의 구조

def 함수이름(입력값):
    함수에서 실행될 코드
    return 리턴값

# 입력값, 리턴값 중 하나 이상 없어도 무관함 
# 내용이 없는 함수도 가능 (= Dummy 함수) 그러나 사용할 일은 거의 없음

In [1]:
1 + 1

2

In [2]:
def myfunction(x, y):
    return x + y

In [3]:
myfunction(1,1)

2

## 계산기 프로그램 만들기 
1. 사친연산만 합니다.
2. 정수 두 개를 받습니다. 
3. 어떤 연산을 할지 물어봅니다. 
4. 선택한 연산에 따라 연산 함수를 실행합니다. 
5. 연산 함수의 결과값을 출력합니다.

In [4]:
def add(x, y):
    return x + y

def sub(x, y):
    return x - y

def mul(x,y):
    return x * y

def div(x, y):
    if y !=0:
        return x / y
    
def calc():
    x = int(input('숫자 하나를 입력해주세요 : '))
    y = int(input('숫자를 하나 더 입력해주세요 : '))
    z = int(input('원하시는 연산의 번호를 입력해주세요. (1 덧셈 2 뺄셈 3 곱하기 4 나누기) : '))
    
    if z == 1 :
        return print("{} + {} = {}입니다." .format(x, y, add(x, y)))
    elif z == 2 : 
        return print("{} - {} = {}입니다." .format(x, y, sub(x, y)))
    elif z == 3 : 
        return print("{} x {} = {}입니다." .format(x, y, mul(x, y)))
    elif z == 4 : 
        if y != 0:
            return print("{} ÷ {} = {}입니다." .format(x, y, div(x, y)))
        else : 
            return print("0으로 나눌 수 없습니다.")
    else : 
        return print("잘못된 연산 번호입니다. 다시 입력해주세요.")

In [5]:
calc()

숫자 하나를 입력해주세요 : 1
숫자를 하나 더 입력해주세요 : 1
원하시는 연산의 번호를 입력해주세요. (1 덧셈 2 뺄셈 3 곱하기 4 나누기) : 1
1 + 1 = 2입니다.

In [7]:
calc()

숫자 하나를 입력해주세요 : 1
숫자를 하나 더 입력해주세요 : 1
원하시는 연산의 번호를 입력해주세요. (1 덧셈 2 뺄셈 3 곱하기 4 나누기) : 2
1 - 1 = 0입니다.

In [8]:
calc()

숫자 하나를 입력해주세요 : 1
숫자를 하나 더 입력해주세요 : 1
원하시는 연산의 번호를 입력해주세요. (1 덧셈 2 뺄셈 3 곱하기 4 나누기) : 3
1 x 1 = 1입니다.

In [9]:
calc()

숫자 하나를 입력해주세요 : 1
숫자를 하나 더 입력해주세요 : 1
원하시는 연산의 번호를 입력해주세요. (1 덧셈 2 뺄셈 3 곱하기 4 나누기) : 4
1 ÷ 1 = 1.0입니다.

In [11]:
calc()

숫자 하나를 입력해주세요 : 1
숫자를 하나 더 입력해주세요 : 0
원하시는 연산의 번호를 입력해주세요. (1 덧셈 2 뺄셈 3 곱하기 4 나누기) : 4
0으로 나눌 수 없습니다.

In [12]:
calc()

숫자 하나를 입력해주세요 : 1
숫자를 하나 더 입력해주세요 : 1
원하시는 연산의 번호를 입력해주세요. (1 덧셈 2 뺄셈 3 곱하기 4 나누기) : 5
잘못된 연산 번호입니다. 다시 입력해주세요.

+ 잘 모르겠는 코드를 발견했을때, def로 함수를 만든 수 사용

In [13]:
# 해설

def input_int(msg):
    return int(input(msg))

In [14]:
x = input_int('첫 번째 숫자를 입력하세요: ')
y = input_int('두 번째 숫자를 입력하세요: ')

첫 번째 숫자를 입력하세요: 1
두 번째 숫자를 입력하세요: 2

In [15]:
def calculator(x, y):
    return x + y

In [16]:
def calculator(x=1, y=2):
    return x + y

In [17]:
def calculator(x=1, y=2):
    z = x + y
    return print(z)

In [18]:
def calculator(x=int(input()), y=int(input())):
    z = x + y
    return print(z)

1
2

> + 밖에 py 저장하고 불러오는거 다시 해보기 >> 해결. 아까는 왜 안되었을까 >> 해결(오타가 원인으로 추정) <br>
> + 함수 정의 전 속에 input 넣는거 다시 해보기 >> 해결(착각함)

In [ ]:
from scipy import stats

+ 기능의 집합 = 함수
+ 함수의 집합 = 모듈 
+ 모듈의 집합 = 패키지 (모듈 자체가 패키지로 사용할 수도 있음. 모듈과 패키지는 거의 구분하지 않음)

In [21]:
import 패키지 # 패키지.py (모듈 생성)

In [22]:
패키지.function1()

'hello'

In [23]:
import 개미 # 폴더 (패키지) 를 만든 후 그 속에 파일 생성 (모듈)

In [24]:
개미.function1()

'hello'

In [25]:
from 개미 import 참새

In [26]:
참새.bird()

짹짹

<br><br><br><br><br>

In [27]:
def funcA(x, y):
    return x * y

In [28]:
funcA(12, 8)

96

In [29]:
def minus(x, y):
    return x - y

In [30]:
minus(12, 8)

4

In [31]:
def minus2(x, y):
    return y - x

In [32]:
minus2(12, 8)

-4

In [33]:
def minus3(x, y):
    return x - y
    return y - x

In [34]:
minus3(12,8)

4

In [35]:
minus3(8, 12)

-4

+ return이 여러개라도 맨 앞 return만 실행된 후 함수를 종료함

In [36]:
def minus4(x, y):
    z1 = x-y
    z2 = y-x
    return print(z1,"\t",z2)

In [37]:
minus4(12, 8)

4 	 -4

In [38]:
# return을 2개 받는 법 

# 1안 : 리턴에 둘다 입력

def minus4(x, y):
    return x - y, y - x

In [39]:
A = minus4(12, 8)

In [40]:
A[0]

4

In [41]:
A[1]

-4

In [42]:
A, B = minus4(12, 8)

In [43]:
A

4

In [44]:
B

-4

In [45]:
# 2안 : 사용자가 선택하는 방법
# 같은 연산을 사용하는 것끼리 묶어 구역정리를 할 수 있다는 장점이 있음 

def minus5(x, y, z):
    if z == 1:
        return x- y
    else : 
        return y-x

In [46]:
minus5(12,8,1)

4

In [47]:
minus5(12,8,2)

-4

In [48]:
# return과 print 차이

In [49]:
def minus6(x, y):
    print(x - y)
    return y - x

In [50]:
minus6(12, 8)

4

-4

In [51]:
A = minus6(12, 8)

4

In [52]:
A

-4

In [53]:
def minus7(x, y):
    print(x - y)
    print(y - x)

In [54]:
minus7(12, 8)

4
-4

In [55]:
A = minus7(12, 8)

4
-4

In [56]:
A

In [57]:
# return에 그냥 입력하면 튜플로 묶이지만, 처음부터 리스트로 묶어줄 수도 있다. (수정가능)

In [58]:
def minus8(x, y):
    return [x - y, y - x]

In [59]:
minus8(12, 8)

[4, -4]

## 함수 실습 

연산을 하는 함수 만들기

[조건]
+ 함수 이름: func1
+ 입력받는 값: 임의의 숫자 둘(x, y)
+ 반환값: x / y의 나머지와 x - y를 비교해
+ 전자가 크면 Type I
+ 둘이 같거나 후자가 크면 Type II라고 반환

In [60]:
def finc1(x, y):
    
    z1 = x % y
    z2 = x - y
    
    if z1 > z2:
        return 'Type I'
    else :
        return 'Type II'

In [61]:
finc1(9, 8)

'Type II'

## 함수를 이용해 코드를 편하게 짜는 법 (함수 활용법) ★

In [62]:
def funcX(x):
    print(x%2)
    print(x//2)

In [63]:
for i in range(10):
    funcX(i)

0
0
1
0
0
1
1
1
0
2
1
2
0
3
1
3
0
4
1
4

+ 장점 : 나중에 수정할때 (추가 등), 한 곳만 수정하면 되니 좋음
+ 너무 복잡해서 유지보수가 힘들거 같다 >> 함수로 따로 빼두면 가독성이 좋음

In [64]:
#리스트 컴프리헨션
[i%2 for i in range(10)]

[0, 1, 0, 1, 0, 1, 0, 1, 0, 1]

In [65]:
list1 = []

for i in range(10):
    list1 += [i % 2]
    
list1

[0, 1, 0, 1, 0, 1, 0, 1, 0, 1]

### 리스트 컴프리헨션
+ 장점 : 간편함, 속도가 항상 빠름
+ 단점 : 가지수가 늘어나면 안됨, 순서가 복잡(어렵)

In [66]:
# 순서 복잡

[i for i in range(10) if i%2 == 0]

[0, 2, 4, 6, 8]

In [67]:
# 함수를 이용해서 더 간편하게

def funcY(x):
    if x%2 == 0 :
        return x
    else : 
        return 0

In [68]:
[funcY(i) for i in range(10)]

[0, 0, 2, 0, 4, 0, 6, 0, 8, 0]

In [69]:
# 식이 너무 길다면? 함수 이용

def funcZ(i):
    return i+1-4*2-3

[funcZ(i) for i in range(10)]

[-10, -9, -8, -7, -6, -5, -4, -3, -2, -1]

In [70]:
import pandas as pd

In [71]:
df = pd.read_csv('./한국전력거래소_시간별 제주 풍력 발전 제어량_20211231.csv', encoding='cp949')

In [72]:
for i in df.index:
    for j in df.loc[i, '1시':'24시']:
        if j ==0:
            print('없음')
        else:
            print('+있음')

없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
+있음
+있음
+있음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
+있음
+있음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
+있음
+있음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
+있음
+있음
+있음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
+있음
+있음
+있음
+있음
+있음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
+있음
+있음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
+있음
+있음
+있음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
+있음
+있음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
+있음
+있음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
+있음
+있음
+있음
+있음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
+있음
+있음
+있음
+있음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
+있음
+있음
+있음
+있음
+있음
+있음
+있음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
+있음
+있음
+있음
+있음
+있음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
+있음
+있음
+있음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
+있음
+있음
+있음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
+있음
+있음
+있음
+있음
+있음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
+있음
+있음
+있음
+있음
+있음
+있음
+있음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
+있음
+있음
+있음
+있음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
+있음
+있음
+있음
+있음
+있음
+있음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
+있음
+있음
+있음
+있음
+있음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
+있음
+있음
+있음
+있음
+있음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
+있음
+있음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
+있음
+있음
+있음
+있음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
+있음
+있음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
+있음
+있음
+있음
+있음
+있음
+있음
+있음
+있음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
+있음
+있음
+있음
+있음
+있음
+있음
+있음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
+있음
+있음
+있음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
+있음
+있음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
+있음
+있음
+있음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
+있음
+있음
+있음
+있음
+있음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
+있음
+있음
+있음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
+있음
+있음
+있음
+있음
+있음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
+있음
+있음
+있음
+있음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
+있음
+있음
+있음
+있음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
+있음
+있음
+있음
+있음
+있음
+있음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
+있음
+있음
+있음
+있음
+있음
+있음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
+있음
+있음
+있음
+있음
+있음
+있음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
+있음
+있음
+있음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
+있음
+있음
+있음
+있음
+있음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
+있음
+있음
+있음
+있음
+있음
+있음
+있음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
+있음
+있음
+있음
+있음
+있음
+있음
+있음
+있음
+있음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
+있음
+있음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
+있음
+있음
+있음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
+있음
+있음
+있음
+있음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
+있음
+있음
+있음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
+있음
+있음
+있음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
+있음
+있음
+있음
+있음
+있음
+있음
+있음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
+있음
+있음
+있음
+있음
+있음
+있음
+있음
+있음
+있음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
+있음
+있음
+있음
+있음
+있음
+있음
+있음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
+있음
없음
+있음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
+있음
+있음
+있음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
+있음
+있음
+있음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
+있음
+있음
+있음
+있음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
+있음
+있음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
+있음
+있음
+있음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
+있음
+있음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
+있음
+있음
+있음
+있음
+있음
+있음
+있음
+있음
+있음
+있음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
+있음
+있음
+있음
+있음
+있음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
+있음
+있음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
+있음
+있음
+있음
+있음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
+있음
+있음
+있음
+있음
+있음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
+있음
+있음
+있음
+있음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
+있음
+있음
+있음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
+있음
+있음
+있음
+있음
없음
없음
없음
없음
없음
없음
없음
없음
없음

In [ ]:
# 길어질거같을때 def를 사용하면 간단해짐 (길어질수록 복잡해서 실수할 가능성이 커짐)

In [73]:
def chk(x):
    if x!=0:
        return '+있음'
    else :
        return '없음'

In [74]:
for i in df.index:
    print(df.loc[i, '1시':'24시'].apply(lambda x: chk(x)))

1시      없음
2시      없음
3시      없음
4시      없음
5시      없음
6시      없음
7시      없음
8시      없음
9시      없음
10시     없음
11시     없음
12시     없음
13시    +있음
14시    +있음
15시    +있음
16시     없음
17시     없음
18시     없음
19시     없음
20시     없음
21시     없음
22시     없음
23시     없음
24시     없음
Name: 0, dtype: object
1시      없음
2시      없음
3시      없음
4시      없음
5시      없음
6시      없음
7시      없음
8시      없음
9시      없음
10시     없음
11시     없음
12시     없음
13시    +있음
14시    +있음
15시     없음
16시     없음
17시     없음
18시     없음
19시     없음
20시     없음
21시     없음
22시     없음
23시     없음
24시     없음
Name: 1, dtype: object
1시      없음
2시      없음
3시      없음
4시      없음
5시      없음
6시      없음
7시      없음
8시      없음
9시      없음
10시     없음
11시     없음
12시     없음
13시     없음
14시    +있음
15시    +있음
16시     없음
17시     없음
18시     없음
19시     없음
20시     없음
21시     없음
22시     없음
23시     없음
24시     없음
Name: 2, dtype: object
1시      없음
2시      없음
3시      없음
4시      없음
5시      없음
6시      없음
7시      없음
8시      없음
9시      없음
10시     없음
11시     없음
12시     없음
13시    +있음
14시    +있음
15시    +있음
16시     없음
17시     없음
18시     없음
19시     없음
20시     없음
21시     없음
22시     없음
23시     없음
24시     없음
Name: 3, dtype: object
1시      없음
2시      없음
3시      없음
4시      없음
5시      없음
6시      없음
7시      없음
8시      없음
9시      없음
10시     없음
11시     없음
12시    +있음
13시    +있음
14시    +있음
15시    +있음
16시    +있음
17시     없음
18시     없음
19시     없음
20시     없음
21시     없음
22시     없음
23시     없음
24시     없음
Name: 4, dtype: object
1시      없음
2시      없음
3시      없음
4시      없음
5시      없음
6시      없음
7시      없음
8시      없음
9시      없음
10시     없음
11시     없음
12시     없음
13시     없음
14시    +있음
15시    +있음
16시     없음
17시     없음
18시     없음
19시     없음
20시     없음
21시     없음
22시     없음
23시     없음
24시     없음
Name: 5, dtype: object
1시      없음
2시      없음
3시      없음
4시      없음
5시      없음
6시      없음
7시      없음
8시      없음
9시      없음
10시     없음
11시    +있음
12시    +있음
13시    +있음
14시     없음
15시     없음
16시     없음
17시     없음
18시     없음
19시     없음
20시     없음
21시     없음
22시     없음
23시     없음
24시     없음
Name: 6, dtype: object
1시      없음
2시      없음
3시      없음
4시      없음
5시      없음
6시      없음
7시      없음
8시      없음
9시      없음
10시     없음
11시     없음
12시     없음
13시     없음
14시    +있음
15시    +있음
16시     없음
17시     없음
18시     없음
19시     없음
20시     없음
21시     없음
22시     없음
23시     없음
24시     없음
Name: 7, dtype: object
1시      없음
2시      없음
3시      없음
4시      없음
5시      없음
6시      없음
7시      없음
8시      없음
9시      없음
10시     없음
11시     없음
12시     없음
13시     없음
14시    +있음
15시    +있음
16시     없음
17시     없음
18시     없음
19시     없음
20시     없음
21시     없음
22시     없음
23시     없음
24시     없음
Name: 8, dtype: object
1시      없음
2시      없음
3시      없음
4시      없음
5시      없음
6시      없음
7시      없음
8시      없음
9시      없음
10시     없음
11시     없음
12시    +있음
13시    +있음
14시    +있음
15시    +있음
16시     없음
17시     없음
18시     없음
19시     없음
20시     없음
21시     없음
22시     없음
23시     없음
24시     없음
Name: 9, dtype: object
1시      없음
2시      없음
3시      없음
4시      없음
5시      없음
6시      없음
7시      없음
8시      없음
9시      없음
10시     없음
11시     없음
12시    +있음
13시    +있음
14시    +있음
15시    +있음
16시     없음
17시     없음
18시     없음
19시     없음
20시     없음
21시     없음
22시     없음
23시     없음
24시     없음
Name: 10, dtype: object
1시      없음
2시      없음
3시      없음
4시      없음
5시      없음
6시      없음
7시      없음
8시      없음
9시      없음
10시     없음
11시    +있음
12시    +있음
13시    +있음
14시    +있음
15시    +있음
16시    +있음
17시    +있음
18시     없음
19시     없음
20시     없음
21시     없음
22시     없음
23시     없음
24시     없음
Name: 11, dtype: object
1시      없음
2시      없음
3시      없음
4시      없음
5시      없음
6시      없음
7시      없음
8시      없음
9시      없음
10시     없음
11시     없음
12시    +있음
13시    +있음
14시    +있음
15시    +있음
16시    +있음
17시     없음
18시     없음
19시     없음
20시     없음
21시     없음
22시     없음
23시     없음
24시     없음
Name: 12, dtype: object
1시      없음
2시      없음
3시      없음
4시      없음
5시      없음
6시      없음
7시      없음
8시      없음
9시      없음
10시     없음
11시     없음
12시     없음
13시     없음
14시    +있음
15시    +있음
16시    +있음
17시     없음
18시     없음
19시     없음
20시     없음
21시     없음
22시     없음
23시     없음
24시     없음
Name: 13, dtype: object
1시      없음
2시      없음
3시      없음
4시      없음
5시      없음
6시      없음
7시      없음
8시      없음
9시      없음
10시     없음
11시     없음
12시     없음
13시     없음
14시    +있음
15시    +있음
16시    +있음
17시     없음
18시     없음
19시     없음
20시     없음
21시     없음
22시     없음
23시     없음
24시     없음
Name: 14, dtype: object
1시      없음
2시      없음
3시      없음
4시      없음
5시      없음
6시      없음
7시      없음
8시      없음
9시      없음
10시     없음
11시     없음
12시    +있음
13시    +있음
14시    +있음
15시    +있음
16시    +있음
17시     없음
18시     없음
19시     없음
20시     없음
21시     없음
22시     없음
23시     없음
24시     없음
Name: 15, dtype: object
1시      없음
2시      없음
3시      없음
4시      없음
5시      없음
6시      없음
7시      없음
8시      없음
9시      없음
10시     없음
11시    +있음
12시    +있음
13시    +있음
14시    +있음
15시    +있음
16시    +있음
17시    +있음
18시     없음
19시     없음
20시     없음
21시     없음
22시     없음
23시     없음
24시     없음
Name: 16, dtype: object
1시      없음
2시      없음
3시      없음
4시      없음
5시      없음
6시      없음
7시      없음
8시      없음
9시      없음
10시     없음
11시     없음
12시    +있음
13시    +있음
14시    +있음
15시    +있음
16시     없음
17시     없음
18시     없음
19시     없음
20시     없음
21시     없음
22시     없음
23시     없음
24시     없음
Name: 17, dtype: object
1시      없음
2시      없음
3시      없음
4시      없음
5시      없음
6시      없음
7시      없음
8시      없음
9시      없음
10시    +있음
11시    +있음
12시    +있음
13시    +있음
14시    +있음
15시    +있음
16시     없음
17시     없음
18시     없음
19시     없음
20시     없음
21시     없음
22시     없음
23시     없음
24시     없음
Name: 18, dtype: object
1시      없음
2시      없음
3시      없음
4시      없음
5시      없음
6시      없음
7시      없음
8시      없음
9시      없음
10시     없음
11시     없음
12시    +있음
13시    +있음
14시    +있음
15시    +있음
16시    +있음
17시     없음
18시     없음
19시     없음
20시     없음
21시     없음
22시     없음
23시     없음
24시     없음
Name: 19, dtype: object
1시      없음
2시      없음
3시      없음
4시      없음
5시      없음
6시      없음
7시      없음
8시      없음
9시      없음
10시     없음
11시    +있음
12시    +있음
13시    +있음
14시    +있음
15시    +있음
16시     없음
17시     없음
18시     없음
19시     없음
20시     없음
21시     없음
22시     없음
23시     없음
24시     없음
Name: 20, dtype: object
1시      없음
2시      없음
3시      없음
4시      없음
5시      없음
6시      없음
7시      없음
8시      없음
9시      없음
10시     없음
11시     없음
12시     없음
13시    +있음
14시    +있음
15시     없음
16시     없음
17시     없음
18시     없음
19시     없음
20시     없음
21시     없음
22시     없음
23시     없음
24시     없음
Name: 21, dtype: object
1시      없음
2시      없음
3시      없음
4시      없음
5시      없음
6시      없음
7시      없음
8시      없음
9시      없음
10시     없음
11시     없음
12시     없음
13시    +있음
14시    +있음
15시    +있음
16시    +있음
17시     없음
18시     없음
19시     없음
20시     없음
21시     없음
22시     없음
23시     없음
24시     없음
Name: 22, dtype: object
1시      없음
2시      없음
3시      없음
4시      없음
5시      없음
6시      없음
7시      없음
8시      없음
9시      없음
10시     없음
11시     없음
12시     없음
13시    +있음
14시    +있음
15시     없음
16시     없음
17시     없음
18시     없음
19시     없음
20시     없음
21시     없음
22시     없음
23시     없음
24시     없음
Name: 23, dtype: object
1시      없음
2시      없음
3시      없음
4시      없음
5시      없음
6시      없음
7시      없음
8시      없음
9시      없음
10시    +있음
11시    +있음
12시    +있음
13시    +있음
14시    +있음
15시    +있음
16시    +있음
17시    +있음
18시     없음
19시     없음
20시     없음
21시     없음
22시     없음
23시     없음
24시     없음
Name: 24, dtype: object
1시      없음
2시      없음
3시      없음
4시      없음
5시      없음
6시      없음
7시      없음
8시      없음
9시      없음
10시     없음
11시    +있음
12시    +있음
13시    +있음
14시    +있음
15시    +있음
16시    +있음
17시    +있음
18시     없음
19시     없음
20시     없음
21시     없음
22시     없음
23시     없음
24시     없음
Name: 25, dtype: object
1시      없음
2시      없음
3시      없음
4시      없음
5시      없음
6시      없음
7시      없음
8시      없음
9시      없음
10시     없음
11시     없음
12시     없음
13시    +있음
14시    +있음
15시    +있음
16시     없음
17시     없음
18시     없음
19시     없음
20시     없음
21시     없음
22시     없음
23시     없음
24시     없음
Name: 26, dtype: object
1시      없음
2시      없음
3시      없음
4시      없음
5시      없음
6시      없음
7시      없음
8시      없음
9시      없음
10시     없음
11시     없음
12시     없음
13시    +있음
14시    +있음
15시     없음
16시     없음
17시     없음
18시     없음
19시     없음
20시     없음
21시     없음
22시     없음
23시     없음
24시     없음
Name: 27, dtype: object
1시      없음
2시      없음
3시      없음
4시      없음
5시      없음
6시      없음
7시      없음
8시      없음
9시      없음
10시     없음
11시     없음
12시     없음
13시    +있음
14시    +있음
15시    +있음
16시     없음
17시     없음
18시     없음
19시     없음
20시     없음
21시     없음
22시     없음
23시     없음
24시     없음
Name: 28, dtype: object
1시      없음
2시      없음
3시      없음
4시      없음
5시      없음
6시      없음
7시      없음
8시      없음
9시      없음
10시     없음
11시    +있음
12시    +있음
13시    +있음
14시    +있음
15시    +있음
16시     없음
17시     없음
18시     없음
19시     없음
20시     없음
21시     없음
22시     없음
23시     없음
24시     없음
Name: 29, dtype: object
1시      없음
2시      없음
3시      없음
4시      없음
5시      없음
6시      없음
7시      없음
8시      없음
9시      없음
10시     없음
11시     없음
12시     없음
13시    +있음
14시    +있음
15시    +있음
16시     없음
17시     없음
18시     없음
19시     없음
20시     없음
21시     없음
22시     없음
23시     없음
24시     없음
Name: 30, dtype: object
1시      없음
2시      없음
3시      없음
4시      없음
5시      없음
6시      없음
7시      없음
8시      없음
9시      없음
10시     없음
11시     없음
12시    +있음
13시    +있음
14시    +있음
15시    +있음
16시    +있음
17시     없음
18시     없음
19시     없음
20시     없음
21시     없음
22시     없음
23시     없음
24시     없음
Name: 31, dtype: object
1시      없음
2시      없음
3시      없음
4시      없음
5시      없음
6시      없음
7시      없음
8시      없음
9시      없음
10시     없음
11시     없음
12시    +있음
13시    +있음
14시    +있음
15시    +있음
16시     없음
17시     없음
18시     없음
19시     없음
20시     없음
21시     없음
22시     없음
23시     없음
24시     없음
Name: 32, dtype: object
1시      없음
2시      없음
3시      없음
4시      없음
5시      없음
6시      없음
7시      없음
8시      없음
9시      없음
10시     없음
11시    +있음
12시    +있음
13시    +있음
14시    +있음
15시     없음
16시     없음
17시     없음
18시     없음
19시     없음
20시     없음
21시     없음
22시     없음
23시     없음
24시     없음
Name: 33, dtype: object
1시      없음
2시      없음
3시      없음
4시      없음
5시      없음
6시      없음
7시      없음
8시      없음
9시      없음
10시     없음
11시     없음
12시    +있음
13시    +있음
14시    +있음
15시    +있음
16시    +있음
17시    +있음
18시     없음
19시     없음
20시     없음
21시     없음
22시     없음
23시     없음
24시     없음
Name: 34, dtype: object
1시      없음
2시      없음
3시      없음
4시      없음
5시      없음
6시      없음
7시      없음
8시      없음
9시      없음
10시     없음
11시    +있음
12시    +있음
13시    +있음
14시    +있음
15시    +있음
16시    +있음
17시     없음
18시     없음
19시     없음
20시     없음
21시     없음
22시     없음
23시     없음
24시     없음
Name: 35, dtype: object
1시      없음
2시      없음
3시      없음
4시      없음
5시      없음
6시      없음
7시      없음
8시      없음
9시      없음
10시     없음
11시    +있음
12시    +있음
13시    +있음
14시    +있음
15시    +있음
16시    +있음
17시     없음
18시     없음
19시     없음
20시     없음
21시     없음
22시     없음
23시     없음
24시     없음
Name: 36, dtype: object
1시      없음
2시      없음
3시      없음
4시      없음
5시      없음
6시      없음
7시      없음
8시      없음
9시      없음
10시     없음
11시     없음
12시     없음
13시    +있음
14시    +있음
15시    +있음
16시     없음
17시     없음
18시     없음
19시     없음
20시     없음
21시     없음
22시     없음
23시     없음
24시     없음
Name: 37, dtype: object
1시      없음
2시      없음
3시      없음
4시      없음
5시      없음
6시      없음
7시      없음
8시      없음
9시      없음
10시     없음
11시    +있음
12시    +있음
13시    +있음
14시    +있음
15시    +있음
16시     없음
17시     없음
18시     없음
19시     없음
20시     없음
21시     없음
22시     없음
23시     없음
24시     없음
Name: 38, dtype: object
1시      없음
2시      없음
3시      없음
4시      없음
5시      없음
6시      없음
7시      없음
8시      없음
9시      없음
10시     없음
11시    +있음
12시    +있음
13시    +있음
14시    +있음
15시    +있음
16시    +있음
17시    +있음
18시     없음
19시     없음
20시     없음
21시     없음
22시     없음
23시     없음
24시     없음
Name: 39, dtype: object
1시      없음
2시      없음
3시      없음
4시      없음
5시      없음
6시      없음
7시      없음
8시      없음
9시     +있음
10시    +있음
11시    +있음
12시    +있음
13시    +있음
14시    +있음
15시    +있음
16시    +있음
17시    +있음
18시     없음
19시     없음
20시     없음
21시     없음
22시     없음
23시     없음
24시     없음
Name: 40, dtype: object
1시      없음
2시      없음
3시      없음
4시      없음
5시      없음
6시      없음
7시      없음
8시      없음
9시      없음
10시     없음
11시     없음
12시     없음
13시    +있음
14시    +있음
15시     없음
16시     없음
17시     없음
18시     없음
19시     없음
20시     없음
21시     없음
22시     없음
23시     없음
24시     없음
Name: 41, dtype: object
1시      없음
2시      없음
3시      없음
4시      없음
5시      없음
6시      없음
7시      없음
8시      없음
9시      없음
10시     없음
11시     없음
12시    +있음
13시    +있음
14시    +있음
15시     없음
16시     없음
17시     없음
18시     없음
19시     없음
20시     없음
21시     없음
22시     없음
23시     없음
24시     없음
Name: 42, dtype: object
1시      없음
2시      없음
3시      없음
4시      없음
5시      없음
6시      없음
7시      없음
8시      없음
9시      없음
10시     없음
11시     없음
12시    +있음
13시    +있음
14시    +있음
15시    +있음
16시     없음
17시     없음
18시     없음
19시     없음
20시     없음
21시     없음
22시     없음
23시     없음
24시     없음
Name: 43, dtype: object
1시      없음
2시      없음
3시      없음
4시      없음
5시      없음
6시      없음
7시      없음
8시      없음
9시      없음
10시     없음
11시     없음
12시     없음
13시    +있음
14시    +있음
15시    +있음
16시     없음
17시     없음
18시     없음
19시     없음
20시     없음
21시     없음
22시     없음
23시     없음
24시     없음
Name: 44, dtype: object
1시      없음
2시      없음
3시      없음
4시      없음
5시      없음
6시      없음
7시      없음
8시      없음
9시      없음
10시     없음
11시     없음
12시    +있음
13시    +있음
14시    +있음
15시     없음
16시     없음
17시     없음
18시     없음
19시     없음
20시     없음
21시     없음
22시     없음
23시     없음
24시     없음
Name: 45, dtype: object
1시      없음
2시      없음
3시      없음
4시      없음
5시      없음
6시      없음
7시      없음
8시      없음
9시      없음
10시     없음
11시    +있음
12시    +있음
13시    +있음
14시    +있음
15시    +있음
16시    +있음
17시    +있음
18시     없음
19시     없음
20시     없음
21시     없음
22시     없음
23시     없음
24시     없음
Name: 46, dtype: object
1시      없음
2시      없음
3시      없음
4시      없음
5시      없음
6시      없음
7시      없음
8시      없음
9시     +있음
10시    +있음
11시    +있음
12시    +있음
13시    +있음
14시    +있음
15시    +있음
16시    +있음
17시    +있음
18시     없음
19시     없음
20시     없음
21시     없음
22시     없음
23시     없음
24시     없음
Name: 47, dtype: object
1시      없음
2시      없음
3시      없음
4시      없음
5시      없음
6시      없음
7시      없음
8시      없음
9시      없음
10시    +있음
11시    +있음
12시    +있음
13시    +있음
14시    +있음
15시    +있음
16시    +있음
17시     없음
18시     없음
19시     없음
20시     없음
21시     없음
22시     없음
23시     없음
24시     없음
Name: 48, dtype: object
1시      없음
2시      없음
3시      없음
4시      없음
5시      없음
6시      없음
7시      없음
8시      없음
9시      없음
10시     없음
11시     없음
12시     없음
13시     없음
14시    +있음
15시     없음
16시    +있음
17시     없음
18시     없음
19시     없음
20시     없음
21시     없음
22시     없음
23시     없음
24시     없음
Name: 49, dtype: object
1시      없음
2시      없음
3시      없음
4시      없음
5시      없음
6시      없음
7시      없음
8시      없음
9시      없음
10시     없음
11시     없음
12시     없음
13시    +있음
14시    +있음
15시    +있음
16시     없음
17시     없음
18시     없음
19시     없음
20시     없음
21시     없음
22시     없음
23시     없음
24시     없음
Name: 50, dtype: object
1시      없음
2시      없음
3시      없음
4시      없음
5시      없음
6시      없음
7시      없음
8시      없음
9시      없음
10시    +있음
11시    +있음
12시    +있음
13시     없음
14시     없음
15시     없음
16시     없음
17시     없음
18시     없음
19시     없음
20시     없음
21시     없음
22시     없음
23시     없음
24시     없음
Name: 51, dtype: object
1시      없음
2시      없음
3시      없음
4시      없음
5시      없음
6시      없음
7시      없음
8시      없음
9시      없음
10시     없음
11시     없음
12시    +있음
13시    +있음
14시    +있음
15시    +있음
16시     없음
17시     없음
18시     없음
19시     없음
20시     없음
21시     없음
22시     없음
23시     없음
24시     없음
Name: 52, dtype: object
1시      없음
2시      없음
3시      없음
4시      없음
5시      없음
6시      없음
7시      없음
8시      없음
9시      없음
10시     없음
11시     없음
12시     없음
13시     없음
14시    +있음
15시    +있음
16시     없음
17시     없음
18시     없음
19시     없음
20시     없음
21시     없음
22시     없음
23시     없음
24시     없음
Name: 53, dtype: object
1시      없음
2시      없음
3시      없음
4시      없음
5시      없음
6시      없음
7시      없음
8시      없음
9시      없음
10시     없음
11시     없음
12시     없음
13시    +있음
14시    +있음
15시    +있음
16시     없음
17시     없음
18시     없음
19시     없음
20시     없음
21시     없음
22시     없음
23시     없음
24시     없음
Name: 54, dtype: object
1시      없음
2시      없음
3시      없음
4시      없음
5시      없음
6시      없음
7시      없음
8시      없음
9시      없음
10시     없음
11시     없음
12시    +있음
13시    +있음
14시     없음
15시     없음
16시     없음
17시     없음
18시     없음
19시     없음
20시     없음
21시     없음
22시     없음
23시     없음
24시     없음
Name: 55, dtype: object
1시      없음
2시      없음
3시      없음
4시      없음
5시      없음
6시      없음
7시      없음
8시     +있음
9시     +있음
10시    +있음
11시    +있음
12시    +있음
13시    +있음
14시    +있음
15시    +있음
16시    +있음
17시    +있음
18시     없음
19시     없음
20시     없음
21시     없음
22시     없음
23시     없음
24시     없음
Name: 56, dtype: object
1시      없음
2시      없음
3시      없음
4시      없음
5시      없음
6시      없음
7시      없음
8시      없음
9시      없음
10시     없음
11시    +있음
12시    +있음
13시    +있음
14시    +있음
15시    +있음
16시     없음
17시     없음
18시     없음
19시     없음
20시     없음
21시     없음
22시     없음
23시     없음
24시     없음
Name: 57, dtype: object
1시      없음
2시      없음
3시      없음
4시      없음
5시      없음
6시      없음
7시      없음
8시      없음
9시      없음
10시     없음
11시     없음
12시     없음
13시    +있음
14시    +있음
15시     없음
16시     없음
17시     없음
18시     없음
19시     없음
20시     없음
21시     없음
22시     없음
23시     없음
24시     없음
Name: 58, dtype: object
1시      없음
2시      없음
3시      없음
4시      없음
5시      없음
6시      없음
7시      없음
8시      없음
9시      없음
10시     없음
11시     없음
12시    +있음
13시    +있음
14시    +있음
15시    +있음
16시     없음
17시     없음
18시     없음
19시     없음
20시     없음
21시     없음
22시     없음
23시     없음
24시     없음
Name: 59, dtype: object
1시      없음
2시      없음
3시      없음
4시      없음
5시      없음
6시      없음
7시      없음
8시      없음
9시      없음
10시     없음
11시     없음
12시    +있음
13시    +있음
14시    +있음
15시    +있음
16시    +있음
17시     없음
18시     없음
19시     없음
20시     없음
21시     없음
22시     없음
23시     없음
24시     없음
Name: 60, dtype: object
1시      없음
2시      없음
3시      없음
4시      없음
5시      없음
6시      없음
7시      없음
8시      없음
9시      없음
10시     없음
11시    +있음
12시    +있음
13시    +있음
14시    +있음
15시     없음
16시     없음
17시     없음
18시     없음
19시     없음
20시     없음
21시     없음
22시     없음
23시     없음
24시     없음
Name: 61, dtype: object
1시      없음
2시      없음
3시      없음
4시      없음
5시      없음
6시      없음
7시      없음
8시      없음
9시      없음
10시     없음
11시     없음
12시    +있음
13시    +있음
14시    +있음
15시     없음
16시     없음
17시     없음
18시     없음
19시     없음
20시     없음
21시     없음
22시     없음
23시     없음
24시     없음
Name: 62, dtype: object
1시      없음
2시      없음
3시      없음
4시      없음
5시      없음
6시      없음
7시      없음
8시      없음
9시      없음
10시     없음
11시     없음
12시    +있음
13시    +있음
14시    +있음
15시    +있음
16시     없음
17시     없음
18시     없음
19시     없음
20시     없음
21시     없음
22시     없음
23시     없음
24시     없음
Name: 63, dtype: object

+ apply(적용) : DataFrame에 함수를 적용하여 반환하는 메서드

### 리스트 컴프리헨션
[변수 for문 if문]

= 동일

for문 :
    if문

In [75]:
df['일자']

0     2021-01-13
1     2021-01-16
2     2021-01-18
3     2021-01-19
4     2021-01-24
         ...
59    2021-10-22
60    2021-10-23
61    2021-10-31
62    2021-11-03
63    2021-12-03
Name: 일자, Length: 64, dtype: object

In [76]:
'2021-01-13'.split('-') # '-'을 기준으로 나누기

['2021', '01', '13']

In [77]:
'2021-01-13'.split('-')[-1]

'13'

In [78]:
list1 = []

for i in df['일자']:
    list1 += [i.split('-')[-1]]

In [79]:
list1

['13',
 '16',
 '18',
 '19',
 '24',
 '27',
 '28',
 '29',
 '31',
 '02',
 '04',
 '08',
 '09',
 '13',
 '15',
 '20',
 '21',
 '22',
 '23',
 '02',
 '14',
 '15',
 '16',
 '17',
 '21',
 '22',
 '23',
 '26',
 '28',
 '30',
 '04',
 '05',
 '06',
 '07',
 '08',
 '10',
 '11',
 '13',
 '14',
 '17',
 '18',
 '19',
 '23',
 '25',
 '26',
 '30',
 '01',
 '02',
 '05',
 '08',
 '12',
 '21',
 '25',
 '27',
 '30',
 '03',
 '17',
 '19',
 '21',
 '22',
 '23',
 '31',
 '03',
 '03']

In [80]:
[i.split('-')[-1] for i in df['일자']]

['13',
 '16',
 '18',
 '19',
 '24',
 '27',
 '28',
 '29',
 '31',
 '02',
 '04',
 '08',
 '09',
 '13',
 '15',
 '20',
 '21',
 '22',
 '23',
 '02',
 '14',
 '15',
 '16',
 '17',
 '21',
 '22',
 '23',
 '26',
 '28',
 '30',
 '04',
 '05',
 '06',
 '07',
 '08',
 '10',
 '11',
 '13',
 '14',
 '17',
 '18',
 '19',
 '23',
 '25',
 '26',
 '30',
 '01',
 '02',
 '05',
 '08',
 '12',
 '21',
 '25',
 '27',
 '30',
 '03',
 '17',
 '19',
 '21',
 '22',
 '23',
 '31',
 '03',
 '03']

In [81]:
df['일자'].apply(lambda x: x.split('-')[-1]) 

# '일자'전체에 대해서 적용 ... 각각의 요소를 어떻게 편집할지 알려준다. 
# >> 어떻게? lambda >> x가 각각의 요소를 의미

0     13
1     16
2     18
3     19
4     24
      ..
59    22
60    23
61    31
62    03
63    03
Name: 일자, Length: 64, dtype: object

#### 속도비교(빠름) : 리스트 컴프리헨션 > apply > for문

##### 리스트 컴프리헨션과 apply 공통점 
+ for문보다 빠르다 
+ 리스트로 리턴 가능

##### apply를 쓰는 이유?
+ 기하급수적으로 늘어날때 더 빠를 수 있음
+ 사람 논리로 더 가깝기때문에 > 유지보수가 쉬움
+ 개인취향
+ 리스트 컴프리헨션은 가로 형태라 보기가 힘들다 
+ df 전체 적용이 가능함 

##### 어찌되었든, 리스트 컴프리헨션, apply, for문 다 읽을 줄 알아야하며, 하나 이상은 자유자재로 쓸 줄 알아야한다.

## 패키지 또는 자료형에서 지원하는 함수 이용

In [82]:
import time

In [83]:
time.sleep(2)

print('기상')

# 파이썬은 원래 실행하자마자 출력되지만 sleep(x) 하면, x초 이후에 출력됨 (그동안 재운다)

기상

In [84]:
# 문자열 내장함수

'hello'.replace('h', 'l')

'lello'

+ replace(x, y) : x를 y로 바꿔줌
    + 그냥은 사용할 수 없음. 앞에 반드시 문자열이 있어야함.

In [85]:
'hello'.split('l')

['he', '', 'o']

+ split(x) : x를 기준으로 나눔
    + 리스트에 넣어줌 (파이썬은 여러개의 요소가 있을때 리스트로 묶어줌)

In [86]:
'ㅣ'.join(['he', '', 'o'])

'heㅣㅣo'

+ 'e'.join([x, y, z]) : 결합을 시키는 함수. x, y, z를 'e'를 구분자로 하여 결합
    + 컴퓨터 입장 : 'e'를 대상으로 합치는데 x, y, z를 구분자로 합침 
    + 컴퓨터와 사람은 대상을 다르게 생각할 수도 있다. 
    + 사람이 만드는 함수에는 대상을 확실히 정한게 아닐수도 있다. (관련 문서 참고)
    
+ str.join(iterable)
    + iterable : 각각의 요소(하나의 개념)

<br><br><br><br><br>

## 실습
1. 일자 정보를 정리한다: YYYY-MM-DD -> DD 형식으로 바꾸기. 단, 해당 날짜는 계산이 가능해야한다. 
1. 모든 일자에 대해 1~24시 정보 중, 몇 시에 제어량이 가장 높은지 알아보자. 
1. 총제어량이 가장 낮은 날짜를 구하라. 
1. 총제어량이 평균 이상인 대상을 True, 아니면 False로 표기해서 평균 column으로 저장한다.

In [87]:
# max : 최대값을 반환하는 함수
pd.DataFrame([1,2,3]).max()

0    3
dtype: int64

In [88]:
# min : 최소값을 반환하는 함수
pd.DataFrame([1,2,3]).min()

0    1
dtype: int64

In [89]:
# mean : 평균을 반환하는 함수
pd.DataFrame([1,2,3]).mean()

0    2.0
dtype: float64

In [90]:
# sum : 합계을 반환하는 함수
pd.DataFrame([1,2,3]).sum()

0    6
dtype: int64

In [91]:
df.head(2)

,일자,횟수,1시,2시,3시,4시,5시,6시,7시,8시,...,16시,17시,18시,19시,20시,21시,22시,23시,24시,총제어량
0,2021-01-13,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,65.17
1,2021-01-16,2,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,21.75

In [92]:
import pandas as pd
import numpy as np

In [107]:
df = pd.read_csv('한국전력거래소_시간별 제주 풍력 발전 제어량_20211231.csv', encoding='cp949')

In [104]:
df.head(2)

,일자,횟수,1시,2시,3시,4시,5시,6시,7시,8시,...,16시,17시,18시,19시,20시,21시,22시,23시,24시,총제어량
0,2021-01-13,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,65.17
1,2021-01-16,2,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,21.75

In [105]:
# 1. 일자 정보를 정리한다: YYYY-MM-DD -> DD 형식으로 바꾸기. 단, 해당 날짜는 계산이 가능해야한다.

df['일자'] = [int(i.split('-')[-1]) for i in df['일자']]

In [106]:
df

,일자,횟수,1시,2시,3시,4시,5시,6시,7시,8시,...,16시,17시,18시,19시,20시,21시,22시,23시,24시,총제어량
0,13,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,65.17
1,16,2,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,21.75
2,18,3,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,46.67
3,19,4,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,36.10
4,24,5,0,0,0,0,0,0,0,0,...,3,0,0,0,0,0,0,0,0,97.67
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59,22,60,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,136.26
60,23,61,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,50.60
61,31,62,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,37.12
62,3,63,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,71.97
63,3,64,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,72.05

In [108]:
# 모범답안

def date(x):
    split_date = x.split('-')
    split_date = split_date[-1]
    return int(split_date)

In [109]:
[date(i) for i in df['일자']]

[13,
 16,
 18,
 19,
 24,
 27,
 28,
 29,
 31,
 2,
 4,
 8,
 9,
 13,
 15,
 20,
 21,
 22,
 23,
 2,
 14,
 15,
 16,
 17,
 21,
 22,
 23,
 26,
 28,
 30,
 4,
 5,
 6,
 7,
 8,
 10,
 11,
 13,
 14,
 17,
 18,
 19,
 23,
 25,
 26,
 30,
 1,
 2,
 5,
 8,
 12,
 21,
 25,
 27,
 30,
 3,
 17,
 19,
 21,
 22,
 23,
 31,
 3,
 3]

In [110]:
df['일자'].apply(lambda x : date(x))

0     13
1     16
2     18
3     19
4     24
      ..
59    22
60    23
61    31
62     3
63     3
Name: 일자, Length: 64, dtype: int64

In [111]:
df['일자']

0     2021-01-13
1     2021-01-16
2     2021-01-18
3     2021-01-19
4     2021-01-24
         ...
59    2021-10-22
60    2021-10-23
61    2021-10-31
62    2021-11-03
63    2021-12-03
Name: 일자, Length: 64, dtype: object

In [112]:
# 2. 모든 일자에 대해 1~24시 정보 중, 몇 시에 제어량이 가장 높은지 알아보자.

df.loc[:, '1시':'24시'].max(axis=1)

# max값은 구했는데, 일자에 대한 몇시인지를 어떻게 출력할지 고민중

0     28.0
1     18.0
2     25.0
3     22.0
4     43.0
      ...
59    61.0
60    16.0
61    17.0
62    49.0
63    36.0
Length: 64, dtype: float64

In [113]:
# 모범답안

for i in df.index:
    print(df.loc[i, '1시':'24시'].max())

28.0
18.0
25.0
22.0
43.0
4.0
41
45.0
0.46
78.0
33
149.0
25.0
6.0
28.0
88.0
59
44
93
73
26
18.0
59.0
13
156
138.0
10.0
4.0
34.0
28
31.0
67
20
7
75.0
62
57.0
27.0
114
149
162
12.0
92
43
16
19
133
159
81
5.0
15.0
36
95.0
28.0
10.0
14
149
77
29
61
16
17
49
36

In [114]:
df['일자별 제어량 최대값'] = [df.loc[i, '1시':'24시'].max() for i in df.index]

In [115]:
df.head(3)

,일자,횟수,1시,2시,3시,4시,5시,6시,7시,8시,...,17시,18시,19시,20시,21시,22시,23시,24시,총제어량,일자별 제어량 최대값
0,2021-01-13,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,65.17,28.0
1,2021-01-16,2,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,21.75,18.0
2,2021-01-18,3,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,46.67,25.0

In [ ]:
df.apply(lambda x: x) # x: x 는 데이터프레임 전체 대상을 의미함 

df.apply(lambda x: x['1시':'24시']) 

# apply 후 인덱싱은 불가능
# 그러므로 인덱싱 먼저하고 apply를 해라.

In [119]:
# 3. 총제어량이 가장 낮은 날짜를 구하라.

data = 1000

for i in range(len(df)):
    if data > df['총제어량'][i]:
        data = df['총제어량'][i]
        data_min = df['일자'][i]
        
print("일자는 {}일이고, 총 제어량은 {}입니다." .format(data_min, data))

일자는 2021-01-31일이고, 총 제어량은 0.84입니다.

In [120]:
# 다른방법 : 마스킹 
# 마스킹 : True 혹은 False 기반의 인덱싱

df[df['총제어량'] == 0.84]

,일자,횟수,1시,2시,3시,4시,5시,6시,7시,8시,...,16시,17시,18시,19시,20시,21시,22시,23시,24시,총제어량
8,2021-01-31,9,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.84

In [121]:
df['총제어량'].mean()

187.7478125

In [122]:
df['평균'] = 0

In [123]:
# 4. 총제어량이 평균 이상인 대상을 True, 아니면 False로 표기해서 평균 column으로 저장한다.

mean = df['총제어량'].mean()

for i in range(len(df)):
    if df['총제어량'][i] > mean:
        df['평균'][i] = "True"
    else : 
        df['평균'][i] = "False"

C:\Users\BIG2-003-008\AppData\Local\Temp\ipykernel_16088\2394061709.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['평균'][i] = "False"

In [125]:
df = df.drop(['평균'], axis = 1)

In [126]:
df.head(5)

,일자,횟수,1시,2시,3시,4시,5시,6시,7시,8시,...,16시,17시,18시,19시,20시,21시,22시,23시,24시,총제어량
0,2021-01-13,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,65.17
1,2021-01-16,2,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,21.75
2,2021-01-18,3,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,46.67
3,2021-01-19,4,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,36.10
4,2021-01-24,5,0,0,0,0,0,0,0,0,...,3,0,0,0,0,0,0,0,0,97.67

In [127]:
# 다른방법

mean_value = df['총제어량'].mean()

In [128]:
m = df['총제어량'] > mean_value

In [129]:
df[m]

,일자,횟수,1시,2시,3시,4시,5시,6시,7시,8시,...,16시,17시,18시,19시,20시,21시,22시,23시,24시,총제어량
9,2021-02-02,10,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,202.28
11,2021-02-08,12,0,0,0,0,0,0,0,0,...,92,20,0,0,0,0,0,0,0,646.70
15,2021-02-20,16,0,0,0,0,0,0,0,0,...,9,0,0,0,0,0,0,0,0,284.86
16,2021-02-21,17,0,0,0,0,0,0,0,0,...,36,4,0,0,0,0,0,0,0,294.84
18,2021-02-23,19,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,324.34
19,2021-03-02,20,0,0,0,0,0,0,0,0,...,25,0,0,0,0,0,0,0,0,248.90
24,2021-03-21,25,0,0,0,0,0,0,0,0,...,80,7,0,0,0,0,0,0,0,855.80
25,2021-03-22,26,0,0,0,0,0,0,0,0,...,66,4,0,0,0,0,0,0,0,589.81
31,2021-04-05,32,0,0,0,0,0,0,0,0,...,15,0,0,0,0,0,0,0,0,236.69
34,2021-04-08,35,0,0,0,0,0,0,0,0,...,42,7,0,0,0,0,0,0,0,294.84
35,2021-04-10,36,0,0,0,0,0,0,0,0,...,18,0,0,0,0,0,0,0,0,253.31
36,2021-04-11,37,0,0,0,0,0,0,0,0,...,38,0,0,0,0,0,0,0,0,302.08
38,2021-04-14,39,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,350.14
39,2021-04-17,40,0,0,0,0,0,0,0,0,...,77,26,0,0,0,0,0,0,0,682.19
40,2021-04-18,41,0,0,0,0,0,0,0,0,...,91,3,0,0,0,0,0,0,0,979.07
46,2021-05-01,47,0,0,0,0,0,0,0,0,...,50,30,0,0,0,0,0,0,0,430.09
47,2021-05-02,48,0,0,0,0,0,0,0,0,...,100,14,0,0,0,0,0,0,0,999.08
48,2021-05-05,49,0,0,0,0,0,0,0,0,...,14,0,0,0,0,0,0,0,0,364.27
52,2021-05-25,53,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,228.17
56,2021-10-17,57,0,0,0,0,0,0,0,2,...,49,2,0,0,0,0,0,0,0,993.33
57,2021-10-19,58,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,220.62

In [130]:
df[-m]

,일자,횟수,1시,2시,3시,4시,5시,6시,7시,8시,...,16시,17시,18시,19시,20시,21시,22시,23시,24시,총제어량
0,2021-01-13,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,65.17
1,2021-01-16,2,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,21.75
2,2021-01-18,3,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,46.67
3,2021-01-19,4,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,36.10
4,2021-01-24,5,0,0,0,0,0,0,0,0,...,3,0,0,0,0,0,0,0,0,97.67
5,2021-01-27,6,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,8.21
6,2021-01-28,7,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,76.56
7,2021-01-29,8,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,71.53
8,2021-01-31,9,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.84
10,2021-02-04,11,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,82.11
12,2021-02-09,13,0,0,0,0,0,0,0,0,...,3,0,0,0,0,0,0,0,0,67.93
13,2021-02-13,14,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,8.32
14,2021-02-15,15,0,0,0,0,0,0,0,0,...,13,0,0,0,0,0,0,0,0,45.04
17,2021-02-22,18,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,98.38
20,2021-03-14,21,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,108.09
21,2021-03-15,22,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,30.67
22,2021-03-16,23,0,0,0,0,0,0,0,0,...,11,0,0,0,0,0,0,0,0,103.71
23,2021-03-17,24,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,15.15
26,2021-03-23,27,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,14.34
27,2021-03-26,28,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,7.07
28,2021-03-28,29,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,64.89
29,2021-03-30,30,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,101.75
30,2021-04-04,31,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,45.16
32,2021-04-06,33,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,57.81
33,2021-04-07,34,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,15.69
37,2021-04-13,38,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,33.20
41,2021-04-19,42,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,17.33
42,2021-04-23,43,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,159.63
43,2021-04-25,44,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,107.95
44,2021-04-26,45,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,31.67
45,2021-04-30,46,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,25.95
49,2021-05-08,50,0,0,0,0,0,0,0,0,...,3,0,0,0,0,0,0,0,0,8.72
50,2021-05-12,51,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,19.53
51,2021-05-21,52,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,58.07
53,2021-05-27,54,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,40.01
54,2021-05-30,55,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,13.99
55,2021-10-03,56,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,26.28
58,2021-10-21,59,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,33.51
59,2021-10-22,60,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,136.26
60,2021-10-23,61,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,50.60
61,2021-10-31,62,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,37.12
62,2021-11-03,63,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,71.97
63,2021-12-03,64,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,72.05