In [1]:
from dash import Dash, html, dcc, Input, Output, callback, dash_table
import pandas as pd
import plotly.express as px

In [2]:
df = pd.read_excel('../../../data/교육통계데이터_완료.xlsx')

In [3]:
df_hs = df[df['학제'] == '고등학교']

In [4]:
df_hs.head(3)

,시도,행정구역,학제,학교수,학생수_전체,학생수_남,학생수_여,교사수,입학자_전체,입학자_남,입학자_여,학업중단자_전체,학업중단자_남,학업중단자_여
0,서울,종로구,고등학교,14,7589,4080,3509,11,2505,1337,1168,158,78,80
4,서울,중구,고등학교,11,5547,2963,2584,5,1770,916,854,150,96,54
8,서울,용산구,고등학교,10,4575,3028,1547,7,1478,980,498,98,63,35

In [10]:
external_stylesheets = ['https://codepen.io/chriddyp/pen/bWLwgP.css']
app = Dash(__name__, external_stylesheets=external_stylesheets)

app.layout = html.Div([
    html.Div(className='row', children='전문상담교사수와 학업중단자의 상관관계',
             style={'textAlign': 'center', 'color': 'blue', 'fontSize': 30}),

    html.Div(className='row', children=[
        dcc.Dropdown(df_hs['시도'].unique(), '서울', id='dropdown-selection')
    ]),

    html.Div(className='row', children=[
        html.Div(className='one', children=[
            html.H5(children='행정구역별 전문상담교사수', style={'textAlign':'center'}),
            dcc.Graph(figure={}, id='graph-content-1')
        ], style={'width': '49%', 'float': 'left', 'display': 'inline-block'}),
        html.Div(className='two', children=[
            html.H5(children='행정구역별 학업중단자수', style={'textAlign':'center'}),
            dcc.Graph(figure={}, id='graph-content-2')
        ], style={'width': '49%', 'float': 'right', 'display': 'inline-block'})
    ]), dash_table.DataTable(data=df_hs.to_dict('records'), page_size=10)
])

@callback(
    Output(component_id='graph-content-1', component_property='figure'),
    Input(component_id='dropdown-selection', component_property='value')
)

def update_graph1(value):
    dff = df_hs[df_hs['시도']==value]
    return px.histogram(dff, x='행정구역', y='교사수', histfunc='sum')

@callback(
    Output(component_id='graph-content-2', component_property='figure'),
    Input(component_id='dropdown-selection', component_property='value')
)

def update_graph2(value):
    dff = df_hs[df_hs['시도']==value]
    return px.histogram(dff, x='행정구역', y='학업중단자_전체', histfunc='sum')

# Run the app
if __name__ == '__main__':
    app.run(debug=True)